/* Event */
.event220321{position:relative;}
.event220321 img{width:100%;vertical-align:top;}
.event220321 [class^="evtCont"]{position:relative;z-index:1;}
.event220321 div, .event220321 ul, .event220321 li, .event220321 span, .event220321 p, .event220321 strong, .event220321 button, .event220321 input, .event220321 label, .event220321 textarea{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}
.evtInput input::-moz-placeholder,
.evtTextarea textarea::-moz-placeholder{color:#aaa;}
.evtInput input:-moz-placeholder,
.evtTextarea textarea:-moz-placeholder{color:#aaa;}
.evtInput input::-webkit-input-placeholder{color:#aaa;}
.evtInput input:-ms-input-placeholder{color:#aaa;}
/* EVENT 396 */
.event220321 .evtCont01,
.event220321 .evtCont04{position:relative;background:#f3f3f3;text-align:center}
.event220321 .evtCont01 .evtNoti{position:absolute;top:24%;left:0;display:block;width:100%;}
.event220321 .evtCont01 .evtNoti p.txt{font-size:3.2vw;font-weight:400;color:#46494c;line-height:1.5;letter-spacing:-0.01em;}
.event220321 .evtCont01 .evtNoti p.txt strong{font:inherit;font-weight:600;color:#e71b11;}
.event220321 .evtCont01 .evtNoti .txt + .txt{margin-top:3%;font-size:3.59vw;font-weight:600;color:#0bab70;}
.event220321 .evtCont01 .evtPeriod{overflow:hidden;padding:6vw 9.6vw 0;text-align:left;}
.event220321 .evtCont01 .evtPeriod li + li{margin-top:2vw;}
.event220321 .evtCont01 .evtPeriod li .tit,
.event220321 .evtCont01 .evtPeriod li .txt{display:inline-block;min-width:19.73vw;height:5.86vw;vertical-align:top;}
.event220321 .evtCont01 .evtPeriod li .tit{background:#737881;border-radius:2.93vw;font-size:3.46vw;color:#fff;text-align:center;line-height:1.69;letter-spacing:-0.08em;}
.event220321 .evtCont01 .evtPeriod li .txt{margin-left:1.06vw;font-size:4vw;font-weight:600;color:#303030;line-height:1.46;letter-spacing:-0.025em;}
.event220321 .evtCont01 .evtPeriod li .txt em{font:inherit;color:#e71b11;}
.event220321 .evtCont04 .evtFormWrap{width:89.33vw;margin:0 auto;padding-top:9.73vw;background:url(/images/events/2022/event220321/form_tit.png) 50% 0 no-repeat;background-size:100% auto;}
.event220321 .evtCont04 .evtFormWrap .formInner{padding:0 13.06vw 9.33vw;background:#fff;border-right:0.26vw solid #dedede;border-bottom:0.26vw solid #dedede;border-left:0.26vw solid #dedede;}
.event220321 .evtCont04 .evtFormWrap .formInner + .formInner{margin-top:10.66vw;padding:0;background:none;border:0;}
.event220321 .evtCont04 .evtFormWrap .formItem{position:relative;}
.event220321 .evtCont04 .evtFormWrap .formQ{position:absolute;top:-1vw;left:0;width:100%;font-size:3.73vw;font-weight:600;color:#2b2e31;text-align:left;letter-spacing:-0.05em;}
.event220321 .evtCont04 .evtFormWrap .formQ + p{position:relative;padding:5.06vw 0;font-size:3.46vw;font-weight:600;color:#2b2e31;letter-spacing:-0.01em;z-index:1;}
.event220321 .evtCont04 .evtFormWrap .formQ + p:before{content:'';position:absolute;top:8.4vw;display:inline-block;width:32.13vw;height:1.86vw;background:#fffc00;z-index:-1;}
/* RDO */
.event220321 .evtFormWrap span > *{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.event220321 .evtFormWrap .rdoWrap .rdo{position:relative;display:inline-block;}
.event220321 .evtFormWrap .rdoWrap .rdo + .rdo{margin-left:8vw;}
.event220321 .evtFormWrap .rdoWrap .rdo input[type="radio"]{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;padding:0;border:0;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
.event220321 .evtFormWrap .rdoWrap .rdo input[type="radio"] + label{display:inline-block;width:27.33vw;height:50.13vw;}
.event220321 .evtFormWrap .rdoWrap .rdo input[type="radio"] + label span{position:absolute;bottom:0;left:0;width:100%;font-size:3.2vw;font-weight:600;color:#2b2f32;line-height:1;}
.event220321 .evtFormWrap .rdoWrap .rdo:nth-child(1) input[type="radio"] + label{background:url(/images/events/2022/event220321/bg_rdo01.png) 50% 6.93vw no-repeat;background-size:100%;}
.event220321 .evtFormWrap .rdoWrap .rdo:nth-child(2) input[type="radio"] + label{background:url(/images/events/2022/event220321/bg_rdo02.png) 50% 6.93vw no-repeat;background-size:100%;}
.event220321 .evtFormWrap .rdoWrap .rdo input[type="radio"] + label:before{content:'';display:inline-block;box-sizing:border-box;width:5.6vw;height:5.6vw;background:#fff;border:0.26vw solid #abadb5;border-radius:100%;vertical-align:top;}
.event220321 .evtFormWrap .rdoWrap .rdo input[type="radio"]:checked + label:before{border-color:#e71b11;}
.event220321 .evtFormWrap .rdoWrap .rdo input[type="radio"]:checked + label:after{content:'';position:absolute;top:1.33vw;left:12.2vw;display:inline-block;box-sizing:border-box;width:2.93vw;height:2.93vw;background:#e71b11;border-radius:100%;}
/* */
.event220321 .evtFormWrap .textareaWrap .count{padding:0 0 2.26vw;font-size:2.933vw;color:#707376;text-align:right;line-height:1;}
.event220321 .evtFormWrap .textareaWrap .count span{font:inherit;font-weight:500;color:#2b2e31;}
.event220321 .evtFormWrap .textareaWrap textarea{padding:2.66vw;height:49.7vw;background:#fff;border:0.26vw solid #e4e4e4;border-radius:1.86vw;font-size:3.2vw;font-weight:400;letter-spacing:-0.025em;}
.event220321 .evtFormWrap .btnWrap{padding:4vw 1.33vw 12vw;}
.event220321 .evtFormWrap .btnApply{display:inline-block;width:100%;height:14.6vw;background:url(/images/events/2022/event220321/btn_apply.png) 0 0 no-repeat;background-size:100% 100%;}
.event220321 .evtCont05{background:#f3f3f3;}
.event220321 .evtCont05 .evtList{padding:0 8vw;}
.event220321 .evtCont05 .evtList .listItem{padding-top:7.733vw;}
.event220321 .evtCont05 .evtList .listItem:last-child{padding-bottom:7.733vw;}
.event220321 .evtCont05 .evtList .listItem + .listItem{margin-top:6vw;border-top:0.13vw solid #e5e5e5;}
.event220321 .evtCont05 .evtList .listItem strong{font-size:3.2vw;font-weight:500;color:#292929;line-height:1;letter-spacing:-0.05em;}
.event220321 .evtCont05 .evtList .listItem strong + .txt{height:auto;margin-top:2.2vw;font-size:3.2vw;font-weight:300;color:#292929;line-height:1.5;letter-spacing:-0.05em;word-break:break-all;}
.event220321 .evtCont05 .btnMore{display:block;width:100%;height:12vw;background:#424242;font-size:3.86vw;color:#fff;letter-spacing:-0.02em;}
/* EventApply */
.event220321 .applyDtl_top{background:#ffe785;padding:12px 15px;}
.event220321 .applyDtl_top h3{font-weight:500;color:#393d49;}
.event220321 .applyDtl_top h3 strong,
.event220321 .pointColor{font:inherit;color:#ff8025;}