.event190516 {position: relative; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event190516 img {vertical-align: middle; width:100%; line-height:0}
.event190516 a {display: inline;}

/* form */
.event190516 .checkbox {position:absolute; left:-3000px; opacity:0}
.event190516 .checkbox + label {display:inline-block; font-size: 3.2vw; color: #535353;}
.event190516 .checkbox + label:before {content:""; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:3.6vw; height:3.6vw; margin-right: 2.5vw; border:1px solid #bfbfbf; border-radius: 0.26vw; vertical-align: middle;}
.event190516 .checkbox:checked + label:before {border: none; background: url(/images/common/bg_check.png) no-repeat; background-size: cover;}
.event190516 .checkbox + label span {vertical-align: middle;}

/* btn */
/* 신청하기 */
.event190516 .btn_wrap {text-align: center;}
.event190516 .btn_apply {width: 28vw; height: 7.8vw; border-radius: 0.8vw; background: #ef4d99;}
.event190516 .btn_apply span {display: inline-block; position: relative; padding-right: 3vw; font-family: "Nanum Gothic_Bold"; font-size: 3vw; color: #fff;}
.event190516 .btn_apply span:before,
.event190516 .btn_apply span:after {content: ""; display: block; position: absolute; top: 47%; right: 0; width: 1.6vw; height: 0.4vw; border-radius: 0.2vw; background: #fff; line-height: 0;}
.event190516 .btn_apply span:before {margin-top: -0.5vw; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transfrom: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.event190516 .btn_apply span:after {margin-top: 0.5vw; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transfrom: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

/* 더보기 */
.event190516 .btn_more {width: 100%; height: 8vw; border: 1px solid #929292; background: #858585; font-family: "Nanum Gothic_Bold"; font-size: 3.16vw; color: #fff;}
.event190516 .btn_more span {position: relative; display: inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width: 3.2vw; height:3.2vw; margin: 0.4vw 0 0 1.867vw; border: 0.4vw solid #fff; border-radius: 1.6vw; vertical-align: top;}
.event190516 .btn_more span:before,
.event190516 .btn_more span:after {content:''; position:absolute; top: 50%; left: 50%; width:1.4vw; height: 0.268vw; margin: -0.134vw 0 0 -0.7vw; background:#fff;}
.event190516 .btn_more span:after {width:0.268vw; height: 1.4vw; margin: -0.7vw 0 0 -0.134vw;}

/* contents */
.event190516 .cont_wrap {padding: 0 4vw 5.34vw; background: #c8eeee; font-size: 3.2vw;}

/* 개인정보 수집 동의 */
.event190516 .cont {padding: 3vw 3vw 6vw; background: #fff;}
.event190516 .agree_info {padding: 4vw 3.34vw; background: #f6f6f6;}
.event190516 .agree_info dt {margin-bottom: 3vw; font-family: "Nanum Gothic_Bold"; font-size: 3.34vw; color: #4c4c4c;}
.event190516 .agree_info ul li {text-indent: -1.94vw; padding-left: 2vw; line-height: 1.8; letter-spacing: -0.06vw; font-size: 2.67vw; color: #4a4a4a;}
.event190516 .agree_info ul li a {text-decoration: underline; font-family: "Nanum Gothic_Bold"; color: #4a4a4a;}
.event190516 .agree_info ul li em {font-family: "Nanum Gothic_Bold"; color: #1e86a4;}
.event190516 .agree {margin: 3.34vw 0 5.34vw; text-align: center;}

/* 사연리스트 */
.event190516 .cont2 {padding: 0 4vw 4vw; background: #fff;}
.event190516 .story_list {position:relative; border-top: 1px solid #989898;}
.event190516 .story_list ul {padding: 2.67vw 0;}
.event190516 .story_list li {padding: 4vw 1.6vw; line-height: 1.5; font-size: 3.2vw; color: #848484;}
.event190516 .story_list li p {margin-bottom: 2.67vw; font-size: 2.8vw;}
.event190516 .story_list li p em {color: #404040;}
.event190516 .story_list li p span {display: inline-block; position: relative; margin-left: 6vw; color: #a6a6a6;}