/* EVENT 424 */
.event424{position:relative;}
.event424 img{width:100%;vertical-align:top;}
.event424 [class^="evtCont"]{position:relative;z-index:1;}
.event424 *{font-family:'Noto Sans KR', sans-serif;}
.event424 input[type="checkbox"]{display:none;}

.event424 .btnView{position:absolute; left:50%; bottom:28vw; transform:translateX(-50%); width:21.333vw; height:6.667vw;}
.event424 .btnApply{position:absolute; left:50%; bottom:6.667vw; transform:translateX(-50%); width:80.8vw; height:12.8vw; background:url('/images/events/2022/event221212/btn_apply.png') no-repeat center center; background-size:100% 100%;}


/*신청하기팝업*/
.event424 .applyDtl_top{background:#fff9e3; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0}
.event424 .applyDtl_top h3{text-align:center; font-size:17px;}
.event424 .info_tit label{font-size:14px;font-weight:600;color:#393d49;}
.event424 .vivasamter_applyDtl .info_tit > .join_ipt_chk{display:inline-block;}
.event424 .vivasamter_applyDtl .info_tit > .join_ipt_chk .join_chk_list.half{margin:0 0 0 20px;float:none;width:auto;display:inline-block;}
.event424 .join_chk_list input[type="radio"].checkbox_circle + label{font-size:14px;font-weight:400;color:#464a55;}
.event424 .join_chk_list input[type="radio"].checkbox_circle:checked + label{font-size:14px;font-weight:400;}
.event424 .vivasamter_applyDtl .input_wrap.school .input_sm{width:calc(100% - 130px);}
.event424 .vivasamter_applyDtl .input_wrap.school .input_in_btn.btn_gray{margin-left:5px;margin-top:-24px;right:0;width:125px;height:48px;font-size:14px;font-weight:600;vertical-align: top;}
.event424 .bulTxt{padding-left:25px;margin-top:5px;text-indent:-10px;}
.event424 .vivasamter_applyDtl .privacyList li{font-weight:400;}
.event424 .vivasamter_applyDtl .privacyList li:before{left:5px;}
.event424 .vivasamter_applyDtl .acco_notice_cont .privacyTxt{font-weight:400;}
.event424 .infoTxtWrap{margin-top:7px; padding:0 15px;}
.event424 .inputInfoTxt{font-size:12px; color:#888888; padding-left:10px; text-indent:-10px;}
.event424 .evtItemWRap img{width:100%;}