/* 오늘 뭐하지 시즌1 발표페이지 */
.evtWrap.evtSeason1Done{padding-bottom:50px;background:#73cfc0;}
.evtSeason1Done .evt{position:relative;margin-bottom:50px;background:#73cfc0;text-align:center;}
.evtSeason1Done .evt img{width:100%;vertical-align:top;}
.evtSeason1Done .evt > [class^="evt"]:not(.evtTxtWrap){position:relative;margin:0 auto;}
.evtSeason1Done .evtTopWrap .btnShareWrap{position:absolute;bottom:5.2vw;left:0;width:100%;height:13.86vw;text-align:right;}
.evtSeason1Done .evtTopWrap .btnShareWrap .btnShare{padding:2.36vw 11vw;}
.evtSeason1Done .evtTopWrap .btnShareWrap .btnShare > [class^="btn"]{display:inline-block;width:8.66vw;height:8.66vw;}
.evtSeason1Done .evtTopWrap .btnShareWrap [class^="btn"] img{width:100%;}
.evtSeason1Done .evtTopWrap .btnShareWrap [class^="btn"] + [class^="btn"]{margin-left:1.4vw;}
.evtSeason1Done .evtListWrap li{position:relative;}
.evtSeason1Done .evtListWrap .btnWrap{position:absolute;width:100%;max-width:64%;margin-left:18%;}
.evtSeason1Done .evtListWrap .btnWrap button:first-child{width:43.8%;}
.evtSeason1Done .evtListWrap .btnWrap button:last-child{width:55.2%;margin-left:1%;}
.evtSeason1Done .evtListWrap li:nth-child(1) .btnWrap{top:83.4%;}
.evtSeason1Done .evtListWrap li:nth-child(2) .btnWrap,
.evtSeason1Done .evtListWrap li:nth-child(3) .btnWrap{top:82.8%;}
.evtSeason1Done .evtListWrap li:nth-child(4) .btnWrap{top:58.1%;}
.evtSeason1Done .evtTxtWrap{position:absolute;left:50%;bottom:1.5%;width:86.7%;transform:translateX(-50%);}

/* 팝업 */
.evtSeason1Done #evtPopWrap, #evtPopWrap .evtPopCont{display:none;width:100%;}
.evtSeason1Done #evtPopWrap.on, #evtPopWrap .evtPopCont.on{display:block;}
.evtSeason1Done #evtPopWrap .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.8);z-index:1;}
.evtSeason1Done #evtPopWrap .evtPopCont.on{position:absolute;top:1%;left:50%;width:95%;max-width:710px;margin-top:60px;transform:translateX(-50%);z-index:2;}
.evtSeason1Done #evtPopWrap .evtPopCont .evtPopImg{display:block;margin:0 auto;text-align:center;}
.evtSeason1Done #evtPopWrap .evtPopCont .btnPdfWrap{position:absolute;top:9%;width:100%;}
.evtSeason1Done #evtPopWrap .evtPopCont:nth-child(2) .btnPdfWrap{top:11%;}
.evtSeason1Done #evtPopWrap .evtPopCont:nth-child(3) .btnPdfWrap{top:7.5%;}
.evtSeason1Done .btnPdfWrap .btnEvtPdf{position:absolute;left:27.5%;width:35%;max-width:250px;}
.evtSeason1Done #evtPopWrap .evtPopCont .btnCloseWrap{position:absolute;top:1.4%;width:100%;text-align:right;}
.evtSeason1Done .btnCloseWrap .btnEvtPopClose{width:5.8%;max-width:41px;margin-right:3%;}