.event190828 {position: relative; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event190828 img {vertical-align: middle; width:100%; line-height:0}
.event190828 a {display: inline;}

/* btn */
.event190828 .btn_detail {position: absolute; top:0; left: 0; margin: 208% 0 0 58.54%; width: 35vw; height: 7vw; line-height: 7vw; border-radius: 0.8vw; background: #457cb5;  text-align: center; font-size: 3.2vw; color: #fff; font-weight: 700;}
/* 신청하기 */
.event190828 .btn_wrap {text-align: center;}
.event190828 .btn_apply,
.event190828 .btn_more {width: 100%; height: 13.3vw; border-radius: 0.8vw; background: #00b846;  font-size: 3.6vw; color: #fff; font-family: "Nanum Gothic_Bold";}
.event190828 .btn_more {margin-top: 6vw; }

/* form */
.event190828 .checkbox {position:absolute; left:-3000px; opacity:0}
.event190828 .checkbox + label {display:inline-block; font-size: 3.2vw; color: #535353;}
.event190828 .checkbox + label:before {content:""; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:3.6vw; height:3.6vw; margin-right: 2.5vw; border:1px solid #bfbfbf; border-radius: 0.26vw; vertical-align: middle;}
.event190828 .checkbox:checked + label:before {border: none; background: url(/images/common/bg_check.png) no-repeat; background-size: cover;}
.event190828 .checkbox + label span {vertical-align: middle;}

/* contents */
.event190828 .cont_wrap {background: #fff;padding:6.667vw;font-size: 3.2vw;}

/* 개인정보 수집 동의 */
.event190828 .agree_info {padding: 4vw 0; border-top: 1px #707070 solid; border-bottom:1px #707070 solid;}
.event190828 .agree_info dt {margin-bottom: 3vw; font-family: "Nanum Gothic_Bold"; font-size: 3.34vw; color: #222222;}
.event190828 .agree_info ul li {text-indent: -2.67vw; padding-left: 3.67vw; line-height: 1.8; letter-spacing: -0.06vw; font-size: 2.67vw; color: #888;}
.event190828 .agree {position: relative;margin: 3.34vw 0 5.34vw; padding-left: 5.5vw; text-align: left;}
.event190828 .agree .checkbox + label span {letter-spacing: -0.06vw; font-family: "Nanum Gothic_Bold"; font-size:2.8vw; color: #222222;}
.event190828 .agree .checkbox + label:before {position: absolute;top:0.9vw;left:0; font-size: 3.2vw; color: #535353;}

/* 사연리스트 */
.event190828 .cont2 {margin-top:8vw}
.event190828 .story_list {position:relative;}
.event190828 .story_list ul {padding: 0 4.667vw; background: #f4f4f4;}
.event190828 .story_list li {padding: 5vw 0; border-top: 1px solid #8b8b8b; line-height: 1.5; font-size: 3.2vw; color: #333;}
.event190828 .story_list li:first-child {border-top:none}
.event190828 .story_list li p {color: #848484;}
.event190828 .story_list li .uid {margin-top: 2vw; text-align: right; font-size: 2.8vw; color: #404040;}
.event190828 .story_list li .uid span {margin-left: 4.5vw; color: #a6a6a6;}