/* Event */
.event201218{text-align:center;}
.event201218 img{width:100%;vertical-align:top;}
.event201218 > [class^="evt"]{position:relative;z-index:1;}
[class^="event"] .blind{overflow:hidden;position:absolute;top:auto;left:auto;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
/* START */
[class^="evtCont"] button{box-sizing:border-box;width:100%;}
[class^="evtCont"] .imgWrap{display:block;}
/*  */
.event201218 .textWrap{position:absolute;left:0;right:0;top:68vw;display:block;width:86vw;height:60vw;margin:3vw 0 0 7vw;}
.event201218 .textWrap span{display:block;position:absolute;right:0;top:-6vw;font-size:3.3vw;}
.event201218 .textWrap textarea{width:100%;height:44vw;background:#fff;border:1px solid #000;padding:2.7vw;font-size:13px;color:#757575;line-height:1.4;outline:none;border-radius:2.5vw;}
.event201218 .btnWrap{position:absolute;bottom:14.6vw;left:7vw;width:86vw;}
/* EventApply */
.applyDtl_top{padding:5.3vw 4vw 4.5vw;background:#eb2f68;}
.applyDtl_top h3{color:#ffd94c;}
.applyDtl_top h3 strong{font-family:inherit;color:#fff;}
.applyDtl_top h3 + p{margin-top:1vw;color:#000;word-break:keep-all;}
.input_wrap + .mt10.mb25.c_gray{font-weight:600;color:#333;}
.acco_notice_cont{display:block;word-break:keep-all;}
.policy{color:#222;}
.acco_notice_cont ul.policy + p.comt{color:#888;}
.acco_notice_tit.info_tit{display:block;color:#333;}
.checkbox_circle_rel + label{text-align:center;}
.checkbox_circle_tit{display:inline-block;text-align:left;}