.event200331 {position: relative; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event200331 img {vertical-align: middle; width:100%; line-height:0}
.event200331 a {display: inline;}

/* contents */
.event200331 .cont {position: relative;}
.event200331 .btn_apply {position: absolute;top:52.800vw; right: 14.267vw; width: 30.533vw}


