/* Event */
.event210902{position:relative;background:#fbf4e2;}
.event210902 img{width:100%;vertical-align:top;}
.event210902 [class^="evtCont"]{position:relative;z-index:1;}
.event210902 div, .event210902 ul, .event210902 li, .event210902 span, .event210902 p, .event210902 strong, .event210902 button, .event210902 input, .event210902 label, .event210902 textarea{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}
.evtInput input::-moz-placeholder,
.evtTextarea textarea::-moz-placeholder{color:#aaa;}
.evtInput input:-moz-placeholder,
.evtTextarea textarea:-moz-placeholder{color:#aaa;}
.evtInput input::-webkit-input-placeholder{color:#aaa;}
.evtInput input:-ms-input-placeholder{color:#aaa;}
/* EVENT 363 */
.event210902 .evtCont01 .evtNoti{position:absolute;top:32.8%;left:0;display:block;width:100%;height:67.2%;text-align:center;}
.event210902 .evtCont01 .evtNoti p.txt{font-size:3.733vw;font-weight:500;color:#000;line-height:1.5;letter-spacing:-0.04em;}
.event210902 .evtCont01 .evtNoti p.txt strong{font:inherit;font-weight:700;color:#d33b32;}
.event210902 .evtCont01 .evtNoti .txt + .txt{margin-top:3%;}
.event210902 .evtCont01 .evtPeriod{position:absolute;bottom:57.6vw;left:23vw;text-align:left;line-height:1.6;}
.event210902 .evtCont01 .evtPeriod li .txt{font-size:3.733vw;font-weight:500;color:#fff;line-height:1.5;letter-spacing:-0.04em;}
.event210902 .evtCont02 .btnWrap{position:absolute;bottom:11vw;left:14.79vw;width:100%;}
.event210902 .evtCont02 .btnLink{display:inline-block;width:19.46vw;height:6.66vw;background:#999;font-size:3.2vw;font-weight:500;color:#fff;}
.event210902 .evtCont03{padding:9.33vw 2.13vw 0;background:#fff;}
.event210902 .evtCont03:after{content:'';position:absolute;bottom:0;left:0;display:block;width:100%;height:10.66vw;background:#303030;z-index:-1;}
.event210902 .evtCont03 .formTit{height:4.933vw;background:url(/images/events/2021/event210902/form_tit.png) 50% 0 no-repeat;background-size:58.13vw 4.933vw;}
.event210902 .evtCont03 .formTblWrap{margin-top:5.33vw;padding:4vw 3.2vw 0;background:#fff;box-shadow:0 13px 43px rgb(0, 0, 0, 16%);}
.event210902 .evtCont03 .formTblWrap .tblInfoTxt{margin-bottom:1.33vw;font-size:2.4vw;font-weight:500;color:#666;text-align:right;line-height:1.5;}
.event210902 .evtCont03 .formTblWrap th{background:#444;border-top:1px solid #e7e7e7;font-size:3.2vw;font-weight:700;color:#fff;}
.event210902 .evtCont03 .formTblWrap td{padding:3.466vw 2.66vw;background:#f6f6f6;border-top:1px solid #e7e7e7;}
.event210902 .evtCont03 .formTblWrap tr:first-child th,
.event210902 .evtCont03 .formTblWrap tr:first-child td{border-top:0;}
.event210902 .evtCont03 .formTblWrap td > span{overflow:hidden;position:relative;display:inline-block;min-width:33%;line-height:2;}
/* rdo */
.event210902 .formTblWrap span > *{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.event210902 .formTblWrap input[type="radio"]{overflow:hidden;position:absolute;top:-1px;left:-1px;width:1px;height:1px;margin:0;}
.event210902 .formTblWrap input[type="radio"] + label{padding-left:22px;font-size:3.2vw;font-weight:400;color:#222;letter-spacing:-0.04em;}
.event210902 .formTblWrap input[type="radio"] + label:before{content:'';position:absolute;top:50%;left:0;display:inline-block;width:15px;height:15px;margin-right:5px;background:#fff;border:1px solid #ccc;border-radius:100%;vertical-align:middle;transform:translateY(-50%);}
.event210902 .formTblWrap input[type="radio"]:checked + label:before{border:1px solid #cb4d48;}
.event210902 .formTblWrap input[type="radio"]:checked + label:after{content:'';position:absolute;top:50%;left:4px;display:inline-block;width:9px;height:9px;background:#df493d;border-radius:100%;transform:translateY(-50%);}
.event210902 .formTblWrap input[type="radio"]:disabled + label{color:rgba(34, 34, 34, 0.4);}
.event210902 .formTblWrap input[type="radio"]:disabled + label:after{content:'';position:absolute;top:50%;left:50%;display:inline-block;width:9.33vw;height:6.266vw;background:url(/images/events/2021/event210902/end_badge.png) 50% 50% no-repeat;background-size:100%;transform:translate(-50%, -50%);}
/* */
.event210902 .evtCont03 .subFormTit{margin:6.66vw 0 3.466vw;padding-left:4.933vw;background:url(/images/events/2021/event210902/ico_q.png) 0 50% no-repeat;background-size:3.33vw 3.46vw;font-size:3.2vw;font-weight:700;color:#222;}
.event210902 .evtCont03 .evtTextarea{background:#f6f6f6;}
.event210902 .evtCont03 .evtTextarea textarea{padding:2.66vw;height:20vw;background:transparent;font-size:2.933vw;font-weight:400;letter-spacing:-0.04em;}
.event210902 .evtCont03 .evtTextarea .count{padding:0 2.66vw 2.66vw;font-size:2.933vw;color:#969696;text-align:right;line-height:1;}
.event210902 .evtCont03 .evtTextarea .count span{font:inherit;color:#3c5863;}
.event210902 .evtCont03 .btnWrap{padding:6.66vw 0 8vw;text-align:center;}
.event210902 .evtCont03 .btnApply{display:inline-block;width:41.33vw;height:12vw;background:url(/images/events/2021/event210902/btn_apply.png) 0 0 no-repeat;background-size:100% 100%;}
.event210902 .evtCont04{background:#303030;}
.event210902 .evtCont04 .evtList{padding:0 8vw;}
.event210902 .evtCont04 .evtList .listItem{padding-top:7.733vw;}
.event210902 .evtCont04 .evtList .listItem:last-child{padding-bottom:7.733vw;}
.event210902 .evtCont04 .evtList .listItem + .listItem{margin-top:6vw;border-top:0.13vw solid #666;}
.event210902 .evtCont04 .evtList .listItem strong{font-size:2.93vw;font-weight:500;color:#fff;line-height:1;}
.event210902 .evtCont04 .evtList .listItem strong + .txt{height:auto;margin-top:2.2vw;font-size:2.93vw;font-weight:400;color:#fff;line-height:1.5;letter-spacing:-0.04em;word-break:break-all;}
.event210902 .evtCont04 .btnMore{display:block;width:100%;height:12vw;background:#444;font-size:4.26vw;;color:#fff;}
/* EventApply */
.applyDtl_top{padding:12px 15px;}