/* Event */
.event210125{text-align:center;}
.event210125 img{width:100%;vertical-align:top;}
.event210125 [class^="evtCont"]{position:relative;z-index:1;}
.event210125 span, .event210125 p, .event210125 strong, .event210125 button, .event210125 input, .event210125 label, .event210125 textarea{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] button{box-sizing:border-box;width:100%;}
.evtTextarea textarea::-webkit-input-placeholder{color:#7b7b7b;}
.evtTextarea textarea::-moz-placeholder{color:#7b7b7b;}
.evtTextarea textarea:-ms-input-placeholder{color:#7b7b7b;}
.evtTextarea textarea:-moz-placeholder{color:#7b7b7b;}
/* */
.evtCont02 .btnWrap{position:absolute;top:46.4vw;left:43.33vw;}
.evtCont02 .btnWrap .btnPreview{display:inline-block;width:44vw;height:7.46vw;background:url(/images/events/2021/event210125/btn_preview.png) 0 0 no-repeat;background-size:100%;}
.evtCont03{background:#f0f0f0;}
.evtCont03 h2,
.evtCont03 .evtWrap .evtRdoWrap{width:89.33vw;margin:0 auto;}
.evtCont03 .evtWrap .evtRdoWrap{box-sizing:border-box;padding:6.666vw 8.4vw 11.20vw;background:#fff;box-shadow:0 0.5vw 1vw rgba(100, 100, 100, 0.16);}
.evtCont03 .evtWrap .infoTxt{font-size:3.2vw;font-weight:700;color:#b52a30;line-height:1;}
/* rdo */
.rdoWrap{display:flex;flex-wrap:wrap;justify-content:space-between;}
.rdoWrap .rdo{overflow:hidden;flex:0 50%;position:relative;margin-top:6vw;text-align:center;}
.rdoWrap input[type="radio"]{overflow:hidden;position:absolute;top:-1px;left:-1px;width:1px;height:1px;margin:0;}
.rdoWrap input[type="radio"] + label{display:inline-block;width:100%;padding-top:39.73vw;font-size:3.2vw;font-weight:700;color:#2b2f32;text-align:center;letter-spacing:-0.133vw;cursor:pointer;}
.rdoWrap .rdo:nth-child(1) label{background:url(/images/events/2021/event210125/rdo01.png) 50% 0 no-repeat;background-size:28.4vw 36.4vw;}
.rdoWrap .rdo:nth-child(2) label{background:url(/images/events/2021/event210125/rdo02.png) 50% 0 no-repeat;background-size:28.4vw 36.4vw;}
.rdoWrap .rdo:nth-child(3) label{background:url(/images/events/2021/event210125/rdo03.png) 50% 0 no-repeat;background-size:28.4vw 36.4vw;}
.rdoWrap .rdo:nth-child(4) label{background:url(/images/events/2021/event210125/rdo04.png) 50% 0 no-repeat;background-size:28.4vw 36.4vw;}
.rdoWrap input[type="radio"]:checked + label:after{content:'';position:absolute;top:0;left:50%;display:inline-block;box-sizing:border-box;width:29.86vw;height:37.06vw;background:url(/images/events/2021/event210125/icon_chk.png) 50% 50% no-repeat;background-size:10.93vw 10.93vw;border:0.8vw solid #000;box-shadow:1vw 1vw 0.8vw rgba(58, 58, 58, 0.19);transform:translateX(-50%);}
.evtWrap .evtCont{width:84vw;margin:14.26vw auto 0;}
.evtWrap .evtCont .evtTitWrap{display:flex;justify-content:space-around;}
.evtWrap .evtCont .evtTit{flex:1;font-size:3.733vw;font-weight:700;color:#2b2e31;text-align:left;line-height:1;letter-spacing:-1px;}
.evtWrap .evtCont .count{font-size:2.93vw;font-weight:300;color:#707376;}
.evtWrap .evtCont .count > span{color:#2b2e31;}
.evtWrap .evtCont .reasonWrap{margin-top:1.866vw;line-height:1;}
.evtCont .reasonWrap .evtTextarea textarea{resize:none;display:block;box-sizing:border-box;width:100%;height:49.6vw;padding:4vw 3.733vw;border:0.26vw solid #747474;border-radius:0;font-size:3.2vw;font-weight:300;color:#333;}
.evtWrap .evtCont .evtTextarea + .btnWrap{margin-top:4vw;}
.evtListWrap{margin-top:15.73vw;}
.evtListWrap .evtList{width:84vw;margin:0 auto;padding:0 0 17.06vw;}
.evtListWrap .evtList .listItem{padding:8.7vw 0;border-bottom:0.266vw solid #cfcfcf;text-align:left;}
.evtListWrap .evtList .listItem:first-child{padding-top:0;}
.evtListWrap .evtList .listItem strong{font-size:3.2vw;font-weight:400;color:#000;line-height:1;}
.evtListWrap .evtList .listItem strong + .txt{height:auto;margin-top:3.866vw;font-size:3.2vw;font-weight:400;color:#333;line-height:1.7;letter-spacing:-0.18vw;word-break:break-all;}
.evtList + .btnMore{height:12vw;background:#acacac;font-size:3.866vw;font-weight:400;color:#fff;}
/* EventApply */
.applyDtl_top{padding:5.3vw 4vw 4.5vw;background:#b42a2f;}
.applyDtl_top h3{color:#fff;text-align:center;}
.applyDtl_top h3 strong{font-family:inherit;color:#fbd81a;}
.input_wrap + .mt10.mb25.c_gray{color:#888;}
.acco_notice_cont{display:block;word-break:keep-all;}
.policy{color:#222;}
.acco_notice_cont ul.policy + p.comt{color:#888;}
.acco_notice_tit.info_tit{display:block;color:#333;}
.checkbox_circle_tit{display:inline-block;text-align:left;}