/* Event */
.event250901{position:relative;}
.event250901 img{width:100%;vertical-align:top;}
.event250901 [class^="evtCont"]{position:relative;z-index:1;}
.event250901 *{font-family:'Noto Sans KR', sans-serif; box-sizing:border-box;}
/* START */

/* common */
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}

/* EVENT 528 */
.evtCont01 {position:relative;}
.evtCont01 .btnReview {position:absolute; left:42.99vw; bottom:102.8vw; width:40.88vw; height:7vw;}
.evtCont01 .btnApply {position:absolute; left:4.1vw; bottom:11.68vw; width:91.1vw; height:17.28vw;}

.commentWrap {padding:11.68vw 4.6vw; background:#66CCFF;}
.commentWrap .inner{margin-top:4.6vw;}
.commentWrap .inner .listItem {width:100%; padding:4.6vw; margin-bottom:2.3vw; background:#fff; border:1px solid #000; border-radius:4.6vw;}
.commentWrap .inner .listItem:last-child {margin-bottom:0;}
.commentWrap .inner .listItem .teacher_id {margin-bottom:1.16vw; font-size:2.8vw; font-family:'Pretendard','Noto Sans KR','sans-serif'; font-weight:700; color:#cb3679; line-height:1; letter-spacing:-0.045em; }
.commentWrap .inner .listItem p {font-size:3.27vw; font-family:'Pretendard','Noto Sans KR','sans-serif'; font-weight:400; color:#444; letter-spacing:-0.05em; line-height:1.5; word-break:break-all;}
.commentWrap .inner .btnMore {margin:3.7vw auto 0; display:block; width:28.05vw; height:9.8vw; background:url('/images/events/2025/event250901/btn_more.png') no-repeat center / contain;}

.applyDtl_top h3 {font-size:17px; font-weight:600; color:#393d49; letter-spacing:-0.05em; line-height:1.3;}
.applyDtl_top h3 span {font-size:17px; font-weight:600;color:#ff8125; letter-spacing:-0.05em;}
.input_wrap.multi_wrap.ipt_grade > .input_wrap {flex:unset; margin-right:14px;}
.ipt_grade .input_wrap .input_sm {width:100px;}
.ipt_person .input_wrap .input_sm {width:100px; }

input[type="radio"].checkbox_circle + label{display:inline-block;}
input[type="radio"].checkbox_circle + label.ml20{margin-left:20px;}


