.event190603 {position: relative; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event190603 img {vertical-align: middle; width:100%; line-height:0}
.event190603 a {display: inline;}

/* form */
.event190603 .radio_circle {position:absolute; left:-3000px; opacity:0}
.event190603 .radio_circle + label .radio {display:inline-block; letter-spacing: -0.2vw; font-family: "Nanum Gothic_Bold"; font-size: 2.6vw; color: #000;}
.event190603 .radio_circle + label .radio:before {content:""; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:3.6vw; height:3.6vw; margin-top: -0.7vw; margin-right: 1.3vw; border:1px solid #bfbfbf; border-radius: 1.8vw; vertical-align: middle;}
.event190603 .radio_circle:disabled + label .radio:before {background-color: #bfbfbf;}
.event190603 .radio_circle:checked + label .radio:before {border: none; background: url(/images/common/bg_check.png) no-repeat; background-size: cover;}
.event190603 .radio_circle + label .radio {vertical-align: middle;}

/* contents */
.event190603 .cont_wrap {padding: 8.667vw 6.134vw; background: #fff; font-size: 3.2vw;}

.event190603 h2 {margin-bottom: 1.8vw; font-family: "Nanum Gothic_Bold"; font-size: 3.2vw; color: #3e3d3d;}
.event190603 .list {margin: 3.6vw 0 6.2vw;}
.event190603 .list li {position: relative; padding-left: 5.8vw; margin-bottom: 1vw; font-size: 3vw; color: #6b6b6b;}
.event190603 .list li strong {color: #f36056;}
.event190603 .list li:before {content: ""; display: block; position: absolute; left: 0.5vw; top: 0.2vw; width: 3.4vw; height: 3.4vw; background: #555 url(/images/events/2019/event190603/bl_arrow.png) no-repeat 50% 50%; background-size: 0.8vw auto; border-radius: 1.5vw; overflow: hidden;}
.event190603 .link_wrap {line-height: 4.8vw; margin-bottom: 7.4vw; padding: 3vw 6vw; background: #eee; font-family: "Nanum Gothic_Bold"; font-size: 2.8vw; color: #3e3d3d;}
.event190603 .link_wrap:after {content: ""; display: block; clear: both;}
.event190603 .btn_link {float: right; box-sizing: border-box; display: inline-block; width: 16.667vw; height: 5.067vw; margin-left: 6vw; border: 1px solid #606060; background: #606060; text-align: center;}
.event190603 .btn_link span {display: inline-block; position: relative; height: 100%; padding-right: 1.8vw; font-family: "Nanum Gothic_Bold"; font-size: 2.4vw; color: #fff; vertical-align:top;}
.event190603 .btn_link span:after{
content:" "; display: block; position: absolute; top: 50%; right: 0; width: 1.4vw; height: 1.4vw; margin-top:-0.7vw; border-top: 0.26vw solid #fff; border-right: 0.26vw solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg);}

.event190603 .radio_list {padding: 0 4.667vw;}
.event190603 .radio_list:after {content: ""; display: block; clear: both;}
.event190603 .radio_list li {float: left; position: relative; width: 34vw; margin-bottom: 7.2vw; padding-top: 46vw; text-align: center;}
.event190603 .radio_list li:nth-child(even) {float: right;}
.event190603 .radio_list li label .cover {display:block; position: absolute; top: 0; left: 0; width: 100%; height: 43.334vw; background-repeat: no-repeat; background-position: 0 0; background-size: contain;}
.event190603 .radio_list li label .book1 {background-image: url(/images/events/2019/event190603/book1.jpg);}
.event190603 .radio_list li label .book2 {background-image: url(/images/events/2019/event190603/book2.jpg);}
.event190603 .radio_list li label .book3 {background-image: url(/images/events/2019/event190603/book3.jpg);}
.event190603 .radio_list li label .book4 {background-image: url(/images/events/2019/event190603/book4.jpg);}
.event190603 .radio_list li label .book5 {background-image: url(/images/events/2019/event190603/book5.jpg);}
.event190603 .radio_list li label .book6 {background-image: url(/images/events/2019/event190603/book6.jpg);}
.event190603 .radio_list li input:checked + label .cover:after {content: ""; display: block; position: absolute; top: 0; left: 0; box-sizing:border-box; width: 100%; height: 100%; border: 3px solid #323232;}
.event190603 .radio_list li.close img {filter: gray; -webkit-filter: grayscale(1);}
.event190603 .radio_list .lb_close {display: block; position: absolute; top: -2.4vw; right: -5.4vw; width: 14.933vw; height: 14.933vw; background: url(/images/events/2019/event190603/lb_close.png) no-repeat 0 0; background-size: contain;}
.event190603 .bn {height: 31.333vw; margin-bottom: 5.4vw; background: url(/images/events/2019/event190603/bn.png) no-repeat 0 0; background-size: contain;}
.event190603 .btn_wrap {text-align: center;}
.event190603 .btn_apply {width: 34vw; height: 10vw;}

.event190603 .cont3 {margin-top: 6.667vw; padding-top: 3.334vw; border-top: 1px solid #bcbcbc;}
.event190603 .list_num li {position: relative; padding-left: 5.8vw; margin-bottom: 1vw; font-size: 2.8vw; color: #3b3b3b;}
.event190603 .list_num li strong {color: #f36056;}
.event190603 .list_num li:before {display: block; position: absolute; left: 0.5vw; top: 0.2vw; box-sizing:border-box; width: 3.4vw; height: 3.4vw; padding: 0.7vw; line-height: 2vw; background: #7c7c7c; border-radius: 1.5vw; overflow: hidden; text-align: center; font-family: "Nanum Gothic_Bold"; font-size: 2vw; color: #fff;}
.event190603 .list_num li:nth-child(1):before {content: "1";}
.event190603 .list_num li:nth-child(2):before {content: "2";}
.event190603 .list_num li:nth-child(3):before {content: "3";}
.event190603 .list_num li:nth-child(4):before {content: "4";}