/* EVENT 250312 */
.event250312{position:relative;}
.event250312 img{width:100%;vertical-align:top;}
.event250312 [class^="evtCont"]{position:relative;z-index:1;}
.event250312 *{font-family:'Noto Sans KR', sans-serif;}
.event250312 input[type="radio"]{display:none;}
.event250312 #footer {padding-bottom: 50px;}

.event250312 .evtCont02 .evtFormWrap {position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
.event250312 .evtCont02 .evtFormWrap ul li input[type="radio"] + label {position:relative; display:block;}
.event250312 .evtCont02 .evtFormWrap ul li:first-child input[type="radio"] + label {height: 115.42vw;}
.event250312 .evtCont02 .evtFormWrap ul li:last-child input[type="radio"] + label {height: 106.07vw;}
.event250312 .evtCont02 .evtFormWrap ul li input[type="radio"] + label::before{content:''; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 7.71vw; height: 7.71vw; background:url('/images/events/2025/event250312/ico_radio.png') no-repeat 50% 0 / 100% auto;}
.event250312 .evtCont02 .evtFormWrap ul li input[type="radio"]:checked + label::before{background-position-y: 100%;}

.event250312 .evtCont02 .btnWrap{position: absolute; left: 0; right: 0; bottom: 14.49vw;}
.event250312 .evtCont02 .btnApply{display:block; width: 70.09vw; height: 17.29vw; margin:0 auto;}

.event250312 .evtFooter{padding: 9.35vw 6.54vw 14.02vw; background: #f7cb16;}
.event250312 .evtFooter h2{margin-bottom: 8.18vw; font-size: 4.21vw; font-weight:600; letter-spacing:-0.05em; color:#3e3e3e; line-height: 1; }
.event250312 .evtFooter .evtInfoList li{position:relative;padding-left:2.5vw;text-indent:-2.5vw;font-size: 3.27vw;font-weight:400;color:#3e3e3e;line-height:1.5; word-break:keep-all;}

/*신청하기 팝업*/
.event250312 .bg_yell {background-color: #ffd563 !important;}
.event250312 .bg_yell h3{text-align:center;}
.event250312 .vivasamter_applyDtl .info_tit>.join_ipt_chk {display:inline-block;}
.event250312 .vivasamter_applyDtl .info_tit>.join_ipt_chk .join_chk_list.half {margin:0 0 0 20px; float:none; width:auto; display:inline-block;}
.event250312 .vivasamter_applyDtl .info_tit>.join_ipt_chk .join_chk_list.half.ml38 {margin-left:38px !important;}
.event250312 .bulTxt {padding-left:25px; margin-top:5px;text-indent:-10px;}
.event250312 .vivasamter_applyDtl .input_wrap.school .input_sm {width:calc(100% - 130px); margin-top:10px;}
.event250312 .vivasamter_applyDtl .input_wrap.school .input_in_btn.btn_gray {margin-left:5px; margin-top:-24px; right:0; width:125px; height:48px; font-size:14px; font-weight:600; vertical-align:top;}
.event250312 .input_wrap.receiveGradeClass{display:flex; align-items: center;}
.event250312 .input_wrap.receiveGradeClass>.input_sm, .event220322 .input_wrap.receiveGradeClass>.label_txt{display:block;}
.event250312 .input_wrap.receiveGradeClass>.input_sm.wp143{width:143px;}
.event250312 .input_wrap.receiveGradeClass>.label_txt{line-height:48px;}
.event250312 .evtForm_labelTxt{margin-top:10px;padding-left:17px;font-size:12px; font-weight:400;color:#ff8125;line-height:1;}
.event250312 .vivasamter_applyDtl .privacyList li span{font:inherit; color:#ff8125;}
.event250312 .vivasamter_applyDtl .privacyList li.pt35:before {top: 35px;}
.event250312 .tit_flex {display:flex;}
.event250312 .tit_flex label {margin-right:12px;}
.event250312 .tit_flex ul {width: calc(100% - 21.33vw);}
.event250312 .tit_flex ul li:first-child {width:60%;}
.event250312 .tit_flex ul li:nth-child(2) {width:40%;}
.event250312 .evt_info_txt{margin-top:8px; padding-left:13px; text-indent:-13px; font-size:12px; color:#ff6832; font-weight:400; line-height:1.3; word-break:keep-all; letter-spacing:-0.04em;}