/* Event */
.event230426{position:relative;}
.event230426 img{width:100%;vertical-align:top;}
.event230426 [class^="evtCont"]{position:relative;z-index:1;}
.event230426 *{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}

/* EVENT 428 */
.teacherProgram {display: inline-block; position: absolute; left: 0; top: 0; width: 28vw; font-size: 2.4vw; font-weight: 400; color: #fff; line-height: 6.66vw; text-align: center; border-radius: 0 0 2.8vw; background: #5146d8; z-index: 99;}

/* evtNoti */
.event230426 .evtCon{z-index:2; position:absolute;top:0;right:0;display:block;width:16.4vw;height:21.86vw;background:url(/images/events/2022/event220211/corn.png) 0 0 no-repeat;background-size:100% auto;}
.event230426 .evtCont01 .btnShare {display: inline-block; position: absolute; top: 23.46vw; right: 0; width: 16.13vw; height: 18.93vw; background: url(/images/events/2023/event230426/btn_share.png)no-repeat center; background-size: 100% auto;}
.event230426 .evtPeriod {width:76.93vw; height:70.13vw; margin:0 auto;  background:url(/images/events/2023/event230426/evtTxt.png)no-repeat; background-size:100% auto; }

.event230426 .evtCont02 span {font-size:0;}
.event230426 .evtCont02 .bgImg {display:inline-block; position:absolute; background:url(/images/events/2023/event230426/btn_map.png)no-repeat center; background-size: 100% auto; z-index: 3;}
.event230426 .evtCont02 .btnFigma {background-image: url("/images/events/2023/event230426/btn_figma.png"); width:19vw; height: 4.875vw; top: 20.5vw; right: 19.875vw;}
.event230426 .evtCont02 .btnInfo {background-image: url("/images/events/2023/event230426/btn_info.png"); width:17vw; height: 5.25vw; top: 89.75vw; left: 32.125vw;}
.event230426 .evtCont02 .btnMap {right: 15.5vw; bottom: 88.875vw; width: 12.5vw; height: 4.25vw; background-image: url(/images/events/2023/event230426/btn_map.png);}
.event230426 .evtCont02 .btnApply {left: 50%; bottom: 6.625vw; transform: translateX(-50%); width: 83.875vw; height: 10.5vw; background-image: url(/images/events/2023/event230426/btn_apply.png);}

.event230426 .notice {background:#333; padding:6.66vw 6.66vw 5.33vw;}
.event230426 .notice ul li {padding-left:1.7vw; text-indent:-1.5vw; font-size:2.93vw;letter-spacing:-0.04em; color: #fff; line-height: 1.6;}

/*popup*/
.applyDtl_top {padding: 0;}
.applyDtl_top h3 {text-align:center!important;}
.applyDtl_top h3 strong {font-size:4.26vw; font-weight:600; color: #ff8125 !important;}
.applyDtl_top .applyDtl_cell {display: flex; justify-content: center; align-items: center; height: 14.13vw; }
.applyDtl_top .applyDtl_cell:nth-of-type(1) {background: #fff9e3; border-bottom: 1px solid #d0d0d0;}
.applyDtl_top .applyDtl_cell:nth-of-type(2) {background: #e7eaef; border-top: 1px solid #dde0e7; border-bottom: 1px solid #dde0e7;}
.applyDtl_top .applyDtl_cell:nth-of-type(2) p {font-size:3.2vw; font-weight: 400; color: #333333; text-align: center;}
.input_wrap .count {display:flex; justify-content:flex-end; margin-top:1.33vw;}
.input_wrap .count span{font-size:3.2vw; font-weight:400; color:#888;}
.vivasamter_applyDtl .info_tit.info_textarea {position:relative; padding-left:3.8vw; text-indent:-1.8vw;}
.vivasamter_applyDtl .info_tit.info_textarea .txt_count {position:absolute; right:5px; bottom: 7px;}
.input_wrap textarea {width:100%; min-height:45.33vw; padding:4vw; font-size:14px; border:1px solid #eaeaea; border-radius:2.66vw;}
.input_wrap textarea::placeholder {color:#838a95;}
.vivasamter_apply .info_tit span {font-size:14px;}
.vivasamter_apply .currentCount {font-size:14px;}
.join_chk_list {width:50%; padding: 0;}
.privacyTxt a {color:#01aeff;}
.vivasamter_applyDtl .pdside20 + .acco_notice_list.notice_sec {padding-top:0; margin-top:0; border-top:0;}
.vivasamter_applyDtl .pdside20 + .acco_notice_list.notice_sec .acco_notice_cont {border-top:0;}
.info_tit.chk_tit > label {display: inline-block; width: 20%; vertical-align: middle;}
.info_tit.chk_tit .join_ipt_chk {display: inline-block;width: 75%;margin: 0;padding-left: 32px;vertical-align: middle;}
.vivasamter_applyDtl .checkbox_circle_tit{letter-spacing:-0.03em;}
.info_wrap .inner {display: flex;}.count span
								  .info_wrap input[type="text"]:nth-of-type(1) {width: 30.66%; border-radius: 10px 0 0px 10px; }
.info_wrap input[type="text"]:nth-of-type(2) {width: 36.66%; border-radius: 0px 10px 10px 0px;}
.info_wrap ul {flex: 1;}
.info_wrap ul li {margin-left: 15px;}
.info_wrap input[type="radio"] + label {display: inline-block; margin-top: 20px;}
.privacyList.event2 .c_o {font-weight:600;}
.checkbox_circle_simple .c_o {font-weight: 600;}
.input_wrap .count span {color: #fd5b76 !important; font-size: 12px;}
.evtForm_labelTxt {padding-left: 9px; text-indent: -9px;}

#teacherInfo2 + lable {display:inline-block; margin-top: 15px;}

/*강사소개 popup*/
#eventPopWrap{position:absolute;top: 0;left:0;display:none;z-index:1000;}
#eventPopWrap.on{display:block;}
#eventPopWrap .dimed{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(66, 69, 77, 0.9);z-index:1;}
#eventPopWrap .eventPop.pop2  {overflow: hidden;position: relative; z-index: 1;border-radius: 0; top: 0; background: url("/images/events/2023/event230426/popup_bg.png") no-repeat center; width: 93.93vw; height: 144.25vw; background-size: auto 100%; transform: translate(3.4%, 5%);}
#eventPopWrap .eventPop.pop2 .titWrap {position: relative;padding:0 8.25vw 0 4.75vw; height: 11.875vw;}
#eventPopWrap .eventPop.pop2 .titWrap img {transform: translate(0, 50%);}
#eventPopWrap .eventPop.pop2 img {width: auto; max-width: 100%;}
#eventPopWrap .eventPop.pop2 .contWrap {padding: 0 6.5vw 0 8.375vw; position: absolute; bottom: 15.5vw;}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List {display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between;}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li {margin-bottom: 20px;}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li:nth-child(n+4) {margin-bottom: 0;}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li[class^="sns"] a{background: url("/images/events/2023/event230426/popup_sns01.png") no-repeat center; width: 22.25vw; height: 31.25vw; background-size: auto 100%;}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li.sns01 a {background-image: url("/images/events/2023/event230426/popup_sns01.png");}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li.sns02 a {background-image: url("/images/events/2023/event230426/popup_sns02.png");}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li.sns03 a {background-image: url("/images/events/2023/event230426/popup_sns03.png");}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li.sns04 a {background-image: url("/images/events/2023/event230426/popup_sns04.png");}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li.sns05 a {background-image: url("/images/events/2023/event230426/popup_sns05.png");}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li.sns06 a {background-image: url("/images/events/2023/event230426/popup_sns06.png");}
#eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li a, #eventPopWrap .eventPop.pop2 .popInfoWrap .party_List li span {display: block; text-align: center;}
#eventPopWrap .eventPop.pop2 .popInfoWrap .imgwrap {text-align: center;}
#eventPopWrap .eventPop .titWrap .evtPopClose {position: absolute; top: 4.625vw;right: 4vw;display: inline-block;width: 2.75vw;height: 2.75vw;background: url("/images/events/2022/event221101/pop_close.png") 0 0 no-repeat;background-size: auto 100%;}


/* 신청하기 */
.info_tit.chk_tit > label {word-spacing: -1px;}
.applyDtl_top h3 strong span {font-size: 4.6vw; font-weight: 600; color: #393d49;}
.join_ipt_chk {margin: 0;}
.input_wrap .input_sm.txt_checkbox {max-width: 50px; display: inline-block; margin-left: 5px;}
.input_wrap .input_sm.txt_phone {width: calc(100% / 3 - 10px); display: inline-block;}
.vivasamter_applyDtl .privacyList li em {color: #333; }


/*@media all and (max-width: 366px) {*/
/*	.info_tit.chk_tit > label {width: 100%;}*/
/*	.info_tit.chk_tit .join_ipt_chk {width: 100%; padding-left: 0;}*/
/*}*/
