/* Event */
.event220627{position:relative;text-align:center; background:#beeaf1;}
.event220627 img{width:100%;vertical-align:top;}
.event220627 [class^="evtCont"]{position:relative;z-index:1;}
.event220627 *{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;width:100%;}
.evtInput input::-moz-placeholder,
.evtTextarea textarea::-moz-placeholder{color:#aaa;}
.evtInput input:-moz-placeholder,
.evtTextarea textarea:-moz-placeholder{color:#aaa;}
.evtInput input::-webkit-input-placeholder{color:#aaa;}
.evtInput input:-ms-input-placeholder{color:#aaa;}

/* */
.event220421 .evtCont03 .btnWrap .btnApply{width:49.333vw;margin:5.33vw auto 10.667vw;}


/* EventApply */
.bg_yell{background:#f7eaa1;}
.bg_yell h3{text-align:center;}
.info_tit.chk_tit > label{display:inline-block; width:20%; vertical-align:middle;}
.info_tit.chk_tit .join_ipt_chk{display:inline-block; width:75%; margin:0; padding-left:10px; vertical-align:middle;}
.info_tit.chk_tit .join_ipt_chk li{width:auto;padding:0 10px 0 0;}
.vivasamter_applyDtl .input_wrap.school .input_in_btn.btn_gray {margin-left:5px; margin-top:-24px; right:0; width:125px; height:48px; font-size:14px; font-weight:600; vertical-align:top;}
.evtForm_labelTxt{padding-left:10px; text-indent:-10px;color:#888; font-size:12px;}
.input_wrap.multi_wrap > .input_wrap .label_txt{font-size:14px; color:#464a55; font-weight:400;}
.input_wrap.email .label_txt{padding:0 7px;}
.ipt_textarea + .count_wrap{text-align:right;}
.vivasamter_applyDtl  .privacyList .noti_txt{font-size:12px; color:#e50e00; font-weight:400; padding-left:10px ;text-indent:-10px;}
.vivasamter_applyDtl .checkbox_circle_tit{letter-spacing:-0.03em;}


.vivasamter_applyDtl .input_wrap.email{display:flex;}
.vivasamter_applyDtl .input_wrap.email .input_sm{width:auto;}
.vivasamter_applyDtl .input_wrap.email .label_txt{padding:0 7px;line-height: 40px;}
.vivasamter_applyDtl .info_tit>.join_ipt_chk {display:inline-block;}
.vivasamter_applyDtl .info_tit>.join_ipt_chk .join_chk_list.half {margin:0 0 0 20px; float:none; width:auto; display:inline-block;}
.vivasamter_applyDtl .info_tit>.join_ipt_chk .join_chk_list.half.ml38 {margin-left:38px !important;}
.vivasamter_applyDtl .bulTxt {padding-left:25px; margin-top:5px;text-indent:-10px;}
.vivasamter_applyDtl .input_wrap.receiveGradeClass{display:flex; align-items: center;}
.vivasamter_applyDtl .input_wrap.receiveGradeClass>.input_sm, .event220322 .input_wrap.receiveGradeClass>.label_txt{display:block;}
.vivasamter_applyDtl .evtForm_labelTxt{margin-top:10px;padding-left:17px;font-size:12px; font-weight:400;color:#ff8125;line-height:1;}
.vivasamter_applyDtl .info_tit{margin-top:25px;}
.vivasamter_applyDtl>div>.info_tit:first-child, .info_tit+.info_tit{margin-top:0;}
.vivasamter_applyDtl .input_wrap.school .input_sm {width:calc(100% - 130px);}
.vivasamter_applyDtl .input_wrap.school .input_in_btn.btn_gray {margin-left:5px; margin-top:-20px; right:0; width:125px; height:40px; font-size:14px; font-weight:600;}
.vivasamter_applyDtl .input_wrap.receiveGradeClass>.label_txt{line-height:40px;}
.vivasamter_applyDtl .input_wrap.receiveGradeClass>.input_sm.wp143{width:143px;}

.evtCont02, .evtCont03 {padding:0 3.86vw;}
.event220627 .evtCont02 .inner {width:100%; height:258.4vw; padding:19.86vw 11.2vw 0;  background:url('/images/events/2022/event220627/evtCont_box.png')no-repeat center; background-size:100% auto; box-sizing:border-box;}
.event220627 .evtCont02 .inner .evtItem li:first-child {margin-bottom: 5.33vw;}
.event220627 .evtCont03 .btnWrap .btnApply {width:100%; margin-top:1.33vw; margin-bottom:10vw;}
.event220627 .btnWrap button img {width:100%;}

/*pop*/
.evt220627 .applyDtl_top.bg_yell  {background-color: #beeaf1;}
.evt220627 .applyDtl_top h3 strong {color:#a16753; font:inherit;}
.evt220627 .school_info>label {display:inline-block; margin-right:20px;}
.evt220627 .school_info .join_ipt_chk {display:inline-block;}
.evt220627 .school_info .join_chk_list {display:inline-block; width:unset; float:none;}
.evt220627 .school_info .join_chk_list:first-child {margin-right:15px;}
.evt220627 .checkbox_circle_box.acco_notice_list {border-top:none; padding-top:0; margin-top:0;}
