/* Event */
.event230908{position:relative;background:#fff;}
.event230908 img{width:100%;vertical-align:top;}
.event230908 [class^="evtCont"]{position:relative;z-index:1;}
.event230908 *{font-family:'Noto Sans KR', sans-serif; box-sizing: border-box;}
/* START */
/* common */
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}
/* EVENT 386 */
/* evtNoti */
/*. event230908 .evtCon{z-index:2; position:absolute;top:0;right:0;display:block;width:20.8vw;height:28vw;background:url(/images/events/2023/ event230908/corn.png) 0 0 no-repeat;background-size:100%;}*/
.event230908 .evtCont1 {width: 100%;}
.event230908 .evtCont2 { padding: 10vw 4vw 6vw; background: #e8bb8e;}
.event230908 .evtCont2 .cont {position: relative; width: 100%; margin-bottom: 8.66vw; border: 0.133vw solid #2c2c2c; border-radius: 2vw; box-shadow: 0.53vw 0.53vw 0 rgba(44, 44, 44, 1);}
.event230908 .evtCont2 .cont1 {background: #fff9e4;}
.event230908 .evtCont2 .cont2 {margin-bottom: 0; background: #eaf8f8;}
.event230908 .evtCont2 .cont .evtBadge {position: absolute; left: 50%; top: -4vw; transform: translateX(-50%); width: 54.13vw; }
.event230908 .evtCont2 .cont .contInner {padding: 10.6vw 0 5.33vw; text-align: center;}
.event230908 .evtCont2 .cont2 .contInner {padding-bottom: 0;}
.event230908 .evtCont2 .cont1 .contInner .contTxt {width: 70.66vw; margin: 0 auto;}
.event230908 .evtCont2 .cont .btnApply {display: inline-block; width: 100%; height: 11.33vw; background: #7350e3 url(/images/events/2023/event230908/btnApply.png)no-repeat center; background-size: 18.66vw auto; border-radius:  0 0 1.2vw 1.2vw;}
.commentWrap {width: 100%;  margin-top: 5.6vw; overflow: scroll;}
.commentList { padding: 0 5.33vw; white-space: nowrap;}
.commentList .listItem {display: inline-block; width: 37.33vw; padding: 1.86vw 1.2vw 3.06vw 3.06vw; margin-right: 1.86vw; text-align: left; background: #ffffff; border: 0.133vw solid #b0afaa; border-radius: 1.333vw; }
.commentList .listItem:last-child {margin-right: 5.33vw;}
.commentList .listItem .listTxt {height: 32vw; padding: 0.4vw 4vw 1.73vw 0; overflow: auto;}
.commentList .listItem .txtInner { min-height: 100%;  word-break: break-all; }
.commentList .listItem .txtInner p { width: 100%; height: 100%; font-size: 2.66vw; font-weight: 400; color: #201c1e; line-height: 4vw; letter-spacing: -0.04em; background: url(/images/events/2023/event230908/txtBg.png)repeat left top; background-size: 28.26vw;  white-space: normal;}
.commentList .listItem .teacher_id {display: inline-block; margin-top: 1.33vw; font-size: 2.26vw; font-weight: 500; color: #7350e3; line-height: 1; letter-spacing: -0.02em;}


.commentWrap::-webkit-scrollbar {
    display: none;
}

/* 스크롤바 막대 꾸미기 */
.commentWrap::-webkit-scrollbar-thumb {
    display: none;
}

/* 스크롤바 트랙 꾸미기 */
.commentWrap::-webkit-scrollbar-track {
    display: none;
}

.event230908 .notice {padding: 6.666vw 5.066vw 8vw; background: #2c2c2c;}
.event230908 .notice strong {display: inline-block; margin-bottom: 3.06vw; font-size: 4vw; font-weight: 600; color: #ffffff; letter-spacing: -0.06em;}
.event230908 .notice ul li {padding-left: 3.7vw; font-size: 3.2vw; font-weight: 300; color: #cfcfd3; line-height: 1.5; letter-spacing: -0.035em; text-indent: -3.7vw;}

/*applyPop*/
.vivasamter_applyDtl {padding-top: 17px;}
.applyDtl_top {background: #ffd563; border-bottom: 1px solid #d0d0d0;}
.applyDtl_cell h3 strong {color: #ff4e25; letter-spacing: -0.05em;}
.vivasamter_applyDtl .input_wrap.school_wrap.style2 .input_school + button {width: 80px; padding: 0; text-align: center; background: #abadb5;}
.vivasamter_applyDtl .input_wrap.school_wrap.style2 .input_school + button:before {display: none;}
.vivasamter_applyDtl .input_wrap input[name="personnel"] {width: 88px;}
.vivasamter_applyDtl .ipt_textarea {height: 150px;}
.vivasamter_applyDtl .count_wrap .count span span {font-size: 12px; font-weight: 500; color: #fd5b76;}
.vivasamter_applyDtl .input_wrap.receiveGradeClass {display: flex; gap: 5px; }
.vivasamter_applyDtl .input_wrap.receiveGradeClass input[type="number"] {display: inline-block; flex: 1;}
.vivasamter_apply .vivasamter_applyDtl .acco_notice_list + .acco_notice_list.acco_notice_list_last {padding-bottom: 0; border-bottom: 0; }
.vivasamter_apply .vivasamter_applyDtl .acco_notice_list + .acco_notice_list.acco_notice_list_last .acco_notice_cont {padding-bottom: 0; border-bottom: 0;}
.vivasamter_applyDtl .input_wrap.person_wrap {position: relative;}
.vivasamter_applyDtl .input_wrap.person_wrap span {display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 14px; font-weight: 400; color: #464a55; letter-spacing: -0.04em;}












