@charset "utf-8";

/* coverWrap */
.coverWrap{position:relative;height:100vh;font-family:'Noto Sans KR', sans-serif;text-align:center;z-index:1;background:#fff;}
.coverWrap *{box-sizing:border-box;font:inherit;line-height:1;letter-spacing:-0.06em;}
.coverWrap span,
.coverWrap p{font-size:2.93vw;font-weight:400;line-height:1.29;}
.coverWrap .btnWrap{position:relative;z-index:1;}
.coverWrap .btnWrap .blind{overflow:hidden;position:absolute;top:auto;left:auto;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
/* coverTop */
.coverWrap .coverTop{margin:0 auto;padding:25% 0 10%;background:url(/images/events/logo_visang.png) 93.5% 3.1% no-repeat;background-size:18% auto;}
.coverWrap .coverTop .label{font-size:4.267vw;}
.coverWrap .coverTop h1{width:53.333%;margin:2% auto 6.7%;}
.coverWrap .coverTop .txt{font-size:3.2vw;}
.coverWrap .coverTop .txt2{margin-top:10%;color:#737373;}
.coverWrap .coverTop .txt strong{font-weight:500;}
.coverWrap .coverTop .btnWrap{display:flex;align-items:center;justify-content:space-between;width:74%;margin:10% auto 0;}
.coverWrap .coverTop .btnWrap [class^="btnApp"]{width:36.13vw;height:37.2vw;position:static;transform:none;}
.coverWrap .coverTop .btnWrap .btnAppE{background:url(/images/main/btn_me.png) 50% 50% no-repeat;background-size:100% auto;}
.coverWrap .coverTop .btnWrap .btnAppV{background:url(/images/main/btn_mv.png) 50% 50% no-repeat;background-size:100% auto;}
.coverWrap .coverTop .btnWrap .btnPcE{flex:1;background:#f1f1f1;border:2px solid #e7e7e7;font-size:3.46vw;font-weight:500;text-align:center;line-height:3.3;}
.coverWrap .coverTop .txt2 + .btnWrap{margin-top:4.3%; margin-bottom:10%;}
/* coverBtm */
.coverWrap .coverBtm{position:absolute;bottom:0;left:0;display:flex;flex-direction:column;justify-content:center;width:100%;height:18%;background:#e5eff3;border-top:1px solid #d4dfe4;z-index:1;}
.coverWrap .coverBtm p{color:#737373;}
.coverWrap .coverBtm .btnWrap{margin-top:1%;}
.coverWrap .coverBtm .btnWrap .btnM{border-bottom:1px solid #111;font-size:3.2vw;font-weight:500;color:#111;line-height:1.3;}