.event191209 {position: relative; font-family:"Nanum Gothic", "sans-serif";}
.event191209 img {vertical-align: middle; width:100%; line-height:0}
.event191209 a {display: inline;}

/* btn */
.event191209 .cont_info {position: relative;}
.event191209 .cont_info .btn_myinfo {position: absolute; top:55.533vw; left: 9.467vw; width: 18.800vw; height: 4.533vw;}
