.event190916 {position: relative; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event190916 img {vertical-align: middle; width:100%; line-height:0}
.event190916 a {display: inline;}

/* contents */
.event190916 .cont .btn_wrap {padding: 8.28125vw 5.9375vw 9.0625vw; background: #ffeae5; text-align: center;}
.event190916 .cont2 {padding: 5.9375vw; background: #636363;}
.event190916 .cont2 li {position: relative; padding-left: 3.125vw; margin-bottom: 1.5vw; font-size: 3.125vw; color: #ebe5ea;}
.event190916 .cont2 li strong {color: #ffef70;}
.event190916 .cont2 li:before {content: ""; display: block; position: absolute; left: 0; top: 1.6vw; width: 0.9vw; height: 0.9vw; background: #fff; border-radius: 0.2vw;}