/* Event */
.event210514{position:relative;text-align:center;}
.event210514 img{width:100%;vertical-align:top;}
.event210514 [class^="evtCont"]{position:relative;z-index:1;}
.event210514 div, .event210514 ul, .event210514 li, .event210514 span, .event210514 p, .event210514 strong, .event210514 button, .event210514 input, .event210514 label, .event210514 textarea{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] button{box-sizing:border-box;}
.evtInput input::-webkit-input-placeholder,
.evtTextarea textarea::-webkit-input-placeholder{color:#aaa;}
.evtInput input::-moz-placeholder,
.evtTextarea textarea::-moz-placeholder{color:#aaa;}
.evtInput input:-ms-input-placeholder,
.evtTextarea textarea:-ms-input-placeholder{color:#aaa;}
.evtInput input:-moz-placeholder,
.evtTextarea textarea:-moz-placeholder{color:#aaa;}
/* evtBannerPop */
.evtBannerWrap button{display:block;width:100%;}
.evtBannerPop{position:absolute;top:0;left:0;z-index:1000;}
.evtBannerPop .evtBannerCont{overflow:hidden;position:relative;width:95.46vw;height:199.46vw;margin:0 2.27vw;background:#eaeaea;border-radius:2.4vw;z-index:1;}
.evtBannerCont .ani{position:relative;width:100%;height:100%;}
.evtBannerCont .ani .bg{position:absolute;top:0;left:0;width:100%;z-index:2;}
/* 3월 1탄 ON */
/* .evtBannerCont .ani .march{position:absolute;top:34.26vw;left:8vw;width:48.53vw;height:29.59vw;z-index:3;}
.evtBannerCont .ani .march [class^="leaf"]{position:absolute;}
.evtBannerCont .ani .march .leaf01{top:8.66vw;left:5.933vw;width:2.133vw;}
.evtBannerCont .ani .march .leaf02{top:13.33vw;left:11.33vw;width:1.466vw;}
.evtBannerCont .ani .march .leaf03{top:18.93vw;left:12.06vw;width:1.466vw;}
.evtBannerCont .ani .march .leaf04{top:17.59vw;left:20.46vw;width:1.466vw;}
.evtBannerCont .ani .march .leaf05{top:12.53vw;left:26vw;width:2.133vw;}
.btnBannerPop.on + .evtBannerPop .march:not(.off) + .roadOn{position:absolute;top:16vw;left:0;display:inline-block;width:55vw;height:33vw;background:#03dcba;border-radius:100%;box-shadow:12px 4px 10px 10px #03dcba;z-index:1;animation:moveRoad 1.5s linear;animation-fill-mode:forwards;}
@keyframes moveRoad{
    0%{transform:translate(16vw, 0);}
    30%{transform:translate(36vw, 2vw);}
    60%{transform:translate(48vw, 6vw) rotate(20deg);}
    80%{transform:translate(50vw, 12vw) rotate(40deg);}
    100%{transform:translate(48vw, 15vw) rotate(65deg);}
} */
/* 3월 1탄 OFF */
/* .evtBannerCont .ani .march.off{top:28vw;width:42.4vw;height:34.8vw;}
.evtBannerCont .ani .march.off:after{content:'';position:absolute;left:6vw;bottom:0;display:inline-block;width:16.66vw;height:15.6vw;background:url(/images/events/2021/event210319/march_off.png) 0 0 no-repeat;background-size:100%;}
.evtBannerCont .ani .infoBallon{position:relative;display:inline-block;box-sizing:border-box;width:23.46vw;height:22.93vw;padding-top:1.866vw;background:url(/images/events/2021/event210319/bg_ballon.png) 0 100% no-repeat;background-size:100%;text-align:center;vertical-align:top;}
.evtBannerCont .ani .infoBallon:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:100%;height:18.66vw;background:#fff;border-radius:1.866vw 1.866vw 0 0;z-index:-1;}
.evtBannerCont .ani .infoBallon .tit{display:inline-block;width:20vw;height:4.8vw;background:url(/images/events/2021/event210319/end_tit01.png) 0 0 no-repeat;background-size:100%;}
.evtBannerCont .ani .infoBallon .txt{font-size:2.933vw;font-weight:500;color:#545d76;line-height:1.28;letter-spacing:-0.07em !important;word-break:keep-all;}
.btnBannerPop.on + .evtBannerPop .march.off + .roadOn{position:absolute;top:36vw;left:0;display:inline-block;width:100%;height:20vw;background:#03dcba;z-index:1;text-align:right;}
.btnBannerPop.on + .evtBannerPop .march.off + .roadOn:before{content:'';display:inline-block;width:44vw;height:33vw;margin:0 -8vw;background:#03dcba;border-radius:100%;box-shadow:12px 4px 10px 10px #03dcba;transform:rotate(65deg);} */
/* 4월
.evtBannerPop .ani .april{position:absolute;top:63.06vw;left:25.73vw;width:63.2vw;height:27.06vw;z-index:3;}
/* 말풍선 
.evtBannerCont .ani .april .tip{position:absolute;top:14vw;left:25vw;display:inline-block;box-sizing:border-box;width:16vw;height:16vw;padding:2.8vw 1vw;background:#606f97;border-radius:100%;font-size:2.133vw;color:#fff;text-align:center;line-height:1.3;letter-spacing:-0.05em !important;animation:upDown .6s alternate ease infinite;}
.evtBannerCont .ani .april .tip:after{content:'';position:absolute;top:6vw;right:-2vw;display:inline-block;border-top:2.5vw solid #606f97;border-right:2.5vw solid transparent;}
.btnBannerPop.on + .evtBannerPop .april:not(.off) + .roadOn{position:absolute;top:56vw;left:29vw;display:inline-block;width:50vw;height:25vw;background:#03dcba;border-radius:100%;box-shadow:0 0 3vw 2vw #03dcba;z-index:1;animation:moveRoad 1s linear;animation-fill-mode:forwards;}
@keyframes moveRoad{
    0%{transform:translate(0, 0);}
    100%{transform:translate(-35vw, 0) rotate(-60deg);}
} */
/* 5월 */
.evtBannerPop .ani .may{position:absolute;top:96vw;left:4.53vw;width:56.93vw;height:24.53vw;z-index:3;}
/* 말풍선 */
.evtBannerCont .ani .may .tip{position:absolute;top:14vw;left:25vw;display:inline-block;box-sizing:border-box;width:16vw;height:16vw;padding:2.8vw 1vw;background:#606f97;border-radius:100%;font-size:2.133vw;color:#fff;text-align:center;line-height:1.3;letter-spacing:-0.05em !important;animation:upDown .6s alternate ease infinite;}
.evtBannerCont .ani .may .tip:after{content:'';position:absolute;top:6vw;left:-2vw;display:inline-block;border-top:2.5vw solid #606f97;border-left:2.5vw solid transparent;}
@keyframes upDown{
    0%{transform:translate(0, 0);}
    100%{transform:translate(0, 1vw);}
}
.btnBannerPop.on + .evtBannerPop .may:not(.off) + .roadOn{position:absolute;top:92vw;left:8vw;display:inline-block;width:50vw;height:25vw;background:#03dcba;border-radius:100%;box-shadow:0 0 3vw 2vw #03dcba;z-index:1;animation:moveRoad 1.1s linear;animation-fill-mode:forwards;}
@keyframes moveRoad{
    0%{transform:translate(0, 0);}
    40%{transform:translate(15vw, 3vw);}
    80%{transform:translate(30vw, 6vw) rotate(15deg);}
    100%{transform:translate(40vw, 10vw) rotate(30deg);}
}
/* OPEN */
.btnBannerPop.on + .evtBannerPop .ani .open{position:absolute;bottom:9.066vw;left:17.59vw;width:31.46vw;height:17.2vw;z-index:3;}
.btnBannerPop.on + .evtBannerPop .ani .open [class^="openpop"]{position:absolute;display:inline-block;width:1.2vw;height:0.9vw;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop01{top:5.066vw;left:0;background:#ffe400;animation:moveOpen1 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop02{top:2vw;left:1.866vw;background:#638af7;animation:moveOpen2 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop03{top:2.86vw;left:6vw;width:1vw;background:#f9617c;animation:moveOpen3 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop04{top:1vw;left:12vw;width:1.8vw;background:#f9617c;animation:moveOpen4 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop05{top:4.8vw;left:13.2vw;background:#638af7;animation:moveOpen5 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop06{top:7vw;left:20vw;width:1.2vw;background:#00c8b9;animation:moveOpen6 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop07{top:9.066vw;left:23.93vw;width:1.8vw;background:#f9617c;animation:moveOpen7 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop08{top:12.86vw;left:28vw;width:1.3vw;background:#638af7;animation:moveOpen8 .8s ease-in-out infinite;}
.btnBannerPop.on + .evtBannerPop .ani .open .openpop09{top:17vw;left:29.13vw;width:1.2vw;background:#00c8b9;animation:moveOpen9 .8s ease-in-out infinite;}
@keyframes moveOpen1{0%{transform:translate(0, 0) rotate(-10deg);}100%{transform:translate(-1vw, -1vw) rotate(-20deg);}}
@keyframes moveOpen2{0%{transform:translate(0, 0) rotate(-50deg);}100%{transform:translate(-1vw, -1vw) rotate(-60deg);}}
@keyframes moveOpen3{0%{transform:translate(0, 0) rotate(35deg);}100%{transform:translate(1vw, -1vw) rotate(55deg);}}
@keyframes moveOpen4{0%{transform:translate(0, 0) rotate(35deg);}100%{transform:translate(1vw, -1vw) rotate(65deg);}}
@keyframes moveOpen5{0%{transform:translate(0, 0) rotate(25deg);}100%{transform:translate(1vw, -1vw) rotate(45deg);}}
@keyframes moveOpen6{0%{transform:translate(0, 0) rotate(-55deg);}100%{transform:translate(1vw, -1vw) rotate(-65deg);}}
@keyframes moveOpen7{0%{transform:translate(0, 0) rotate(60deg);}100%{transform:translate(1vw, -1vw) rotate(80deg);}}
@keyframes moveOpen8{0%{transform:translate(0, 0) rotate(-30deg);}100%{transform:translate(1vw, -1vw) rotate(-50deg);}}
@keyframes moveOpen9{0%{transform:translate(0, 0) rotate(20deg);}100%{transform:translate(1vw, -1vw) rotate(40deg);}}
.evtBannerCont .btnEvtPopClose{position:absolute;top:4vw;right:4vw;display:inline-block;width:3.2vw;height:3.2vw;background:url(/images/events/2021/event210319/btn_pop_close.png) 0 0 no-repeat;background-size:100%;z-index:2;}
/* */
.evtCont01{height:157.86vw;background:url(/images/events/2021/event210514/bg_main.png) 50% 100% no-repeat #f4f3ed;background-size:100%;}
.evtCont01 h1{width:75.86vw;margin:0 auto;padding:12vw 0 6vw;}
.evtCont01 p{font-size:3.46vw;font-weight:500;color:#3f434e;text-align:center;line-height:1.6;}
.evtCont01 p strong{text-decoration:underline;font-size:inherit;font-weight:700;color:#f27709;}
.evtCont01 ul{margin:4.33vw 15.73vw 0;text-align:left;line-height:1;}
.evtCont01 ul li .labelTit{display:inline-block;width:20vw;height:5.86vw;margin-right:2vw;}
.evtCont01 ul li:nth-child(1) .labelTit{background:url(/images/events/2021/event210514/evt_tit01.png);background-size:100%;}
.evtCont01 ul li:nth-child(2) .labelTit{background:url(/images/events/2021/event210514/evt_tit02.png);background-size:100%;}
.evtCont01 ul li .labelTit + p{display:inline-block;font-weight:700;color:#282828;vertical-align:top;}
.evtCont01 ul li + li{margin-top:1.6vw;}
.evtCont02{padding:0 4.5vw 0 6.6vw;background:#d6f2ed;}
.evtInfoWrap{text-align:left;}
.evtInfoWrap .infoItem{padding-top:12vw;}
.evtInfoWrap .infoItem .labelTit{display:inline-block;width:25.33vw;height:8vw;vertical-align:top;}
.evtInfoWrap .infoItem:nth-child(1) .labelTit{background:url(/images/events/2021/event210514/evt_subtit01.png);background-size:100%;}
.evtInfoWrap .infoItem:nth-child(2) .labelTit{background:url(/images/events/2021/event210514/evt_subtit02.png);background-size:100%;}
.evtInfoWrap .infoItem:nth-child(3) .labelTit{background:url(/images/events/2021/event210514/evt_subtit03.png);background-size:100%;}
.evtInfoWrap .infoItem .itemCont{margin:5.66vw 0 0 1.33vw;}
.evtInfoWrap .infoItem .itemCont > p:not(.icoChk){font-size:4vw;font-weight:700;color:#161414;letter-spacing:-0.06em;}
.evtInfoWrap .infoItem .itemCont > p strong{font:inherit;color:#e86e00;}
.evtInfoWrap .infoItem .itemCont .bulCircle:before{content:'';display:inline-block;width:1vw;height:1vw;margin-right:1.33vw;background:#161414;border-radius:100%;vertical-align:middle;}
.evtInfoWrap .infoItem .itemCont .infoList{margin:2.5vw 0 0 3vw;font-weight:400;}
.evtInfoWrap .infoItem .itemCont .infoList li{position:relative;padding-left:2.26vw;font-size:3.2vw;color:#3f4447;line-height:1.7;letter-spacing:-0.075em;}
.evtInfoWrap .infoItem .itemCont .infoList li:before{content:'-';position:absolute;top:0;left:0;display:inline-block;}
.evtInfoWrap .infoItem .itemCont .infoList li strong{color:#e86e00;}
.icoChk{margin:4vw 0 0 0;font-size:3.73vw;font-weight:700;color:#e86e00;line-height:1.4;}
.icoChk:before{content:'';display:inline-block;width:4.13vw;height:4.13vw;margin-right:1.33vw;background:url(/images/events/2021/event210514/ico_chk.png) 0 0 no-repeat;background-size:100%;vertical-align:middle;}
.icoCamera{position:relative;z-index:1;}
.icoCamera:before{content:'';display:inline-block;width:7.466vw;height:5.46vw;margin-right:0.666vw;background:url(/images/events/2021/event210514/ico_camera.png) 0 0 no-repeat;background-size:100%;vertical-align:middle;}
.icoCamera:after{content:'';position:absolute;right:-3px;bottom:0;display:inline-block;width:10.66vw;height:1.2vw;background:#faff66;z-index:-1;}
.evtInfoWrap .infoItem .itemCont .infoTxt{position:relative;display:block;padding-left:3.59vw;font-size:3.2vw;font-weight:400;color:#494f53;line-height:1.45;word-break:keep-all;}
.evtInfoWrap .infoItem .itemCont .infoTxt:before{content:'※';position:absolute;top:0;left:0;}
.evtInfoWrap .infoItem .itemCont .infoTxt:first-of-type{margin-top:3vw;}
.evtInfoWrap .infoItem .itemCont .infoTxt + .infoTxt{margin-top:1vw;}
.evtGift{width:86.66vw;height:115.86vw;margin-top:6.66vw;background:url(/images/events/2021/event210514/bg_evt_gift.png) 0 0 no-repeat;background-size:100%;}
.evtCont02 .txt{padding:6vw 0 12vw;font-size:3.466vw;font-weight:500;color:#e86e00;letter-spacing:-0.06em;}