@charset "utf-8";

/* 이벤트 356 */
@font-face{
    font-family:'BMJUA';
    src:url(/fonts/BMJUA.woff) format('woff');
    font-weight:normal;
    font-style:normal;
}

/* Event */
.event210722{position:relative;}
.event210722 *{box-sizing:border-box;}
.event210722 img{width:100%;vertical-align:top;}
.event210722 [class^="evtCont"]{position:relative;z-index:1;}
.event210722 div, .event210722 ul, .event210722 li, .event210722 span, .event210722 p, .event210722 strong, .event210722 button, .event210722 input, .event210722 label, .event210722 textarea{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}
.evtInput input::-moz-placeholder,
.evtTextarea textarea::-moz-placeholder{color:#aaa;}
.evtInput input:-moz-placeholder,
.evtTextarea textarea:-moz-placeholder{color:#aaa;}
.evtInput input::-webkit-input-placeholder{color:#aaa;}
.evtInput input:-ms-input-placeholder{color:#aaa;}
/* */
/* evtTit */
.evtTitWrap{position:relative;text-align:center;}
.evtTitWrap .evtTitInfo{position:absolute;top:38.4%;left:0;width:100%;}
.evtTitWrap p{font-family:'BMJUA', sans-serif;font-size:3.2vw;color:#fff;line-height:1.29;letter-spacing:-0.02em;}
.evtTitWrap p .point01{display:inline-block;margin:2.2vw 0;font:inherit;font-size:4.53vw;color:#2250a3;line-height:1;}
.evtTitWrap .evtPeriod{width:78.8vw;height:7.73vw;margin:4vw auto 2.66vw;padding:2.13vw 0;background:#fff;border-radius:3.8vw;font-size:0;text-align:center;box-shadow:0 0.66vw 0 0 #56baea;}
.evtTitWrap .evtPeriod > span{display:inline-block;vertical-align:middle;line-height:1;}
.evtTitWrap .evtPeriod .tit{font-size:2.93vw;font-weight:500;color:#2250a3;letter-spacing:-0.06em;}
.evtTitWrap .evtPeriod .txt{margin-left:1.06vw;font-size:3.46vw;font-weight:500;color:#e2674d;letter-spacing:-0.08em;}
.evtTitWrap .evtPeriod .txt em{font:inherit;font-weight:600;letter-spacing:-0.08em;}
.evtTitWrap .evtPeriod + .periodTxt{font-size:2.8vw;font-weight:500;color:#0e3770;letter-spacing:-0.04em;}
/* evtSection */
.evtSection{background:#6ec9f6;}
.evtSection .inner{padding:0 5.33vw;}
/* evtSection - 1 */
.evtSection:nth-child(2){background:url(/images/events/2021/event210722/bg_wave.png) 0 100% repeat-x #fff;background-size:auto 3.2vw;}
.evtSection:nth-child(2) .inner{padding-bottom:13.86vw;}
.scheduleWrap{padding:0 2.66vw;}
.scheduleWrap .tblWrap{overflow:hidden;border:3px solid #3266c3;border-radius:4.66vw;}
.scheduleWrap table{width:100%;}
.scheduleWrap table th,
.scheduleWrap table td{border-left:0.13vw solid #e8e8e8;font-family:'Noto Sans KR', sans-serif;text-align:center;letter-spacing:-0.025em;}
.scheduleWrap table th:nth-child(1),
.scheduleWrap table td:nth-child(1){border-left:0;}
.scheduleWrap table th{height:6.8vw;background:#6ec9f6;font-size:2.66vw;font-weight:500;color:#fff;}
.scheduleWrap table td{height:8.4vw;background:#fff;font-size:3.2vw;font-weight:400;color:#3266c3;}
.scheduleWrap table tbody tr:nth-child(even) td{background:#f7f7f7;}
.scheduleWrap table tbody td:nth-child(2){font-weight:600;color:#e87e4a;}
.scheduleWrap table tbody td:nth-child(3){font-weight:500;}
.scheduleWrap .tblInfoTxt{position:relative;height:28vw;margin-top:0.8vw;padding:7.73vw 0 0 29.73vw;background:url(/images/events/2021/event210722/bg_add_gift.png) 7.73vw 5.86vw no-repeat #3266c3;background-size:18vw;border-radius:4.66vw;font-family:'BMJUA', sans-serif;font-size:3.46vw;color:#fff;line-height:1.3;}
.scheduleWrap .tblInfoTxt strong{font:inherit;color:#fdbb52;}
.scheduleWrap .tblInfoTxt:before{content:'';position:absolute;top:-3.5vw;left:38.26vw;width:7.33vw;height:7.33vw;background:url(/images/events/2021/event210722/ico_plus.png) 0 0 no-repeat;background-size:100%;}
/* evtSection - 2 */
.evtSection:nth-child(3) .inner{padding-top:10.66vw;padding-bottom:10.66vw;}
.evtSection:nth-child(3) h3{font-family:'BMJUA', sans-serif;font-size:7.46vw;color:#fff;text-align:center;line-height:1;}
.evtStepList{margin:4vw 0 0 0;height:84.53vw;padding:0 2.66vw;background:url(/images/events/2021/event210722/bg_step.png) 50% 0 no-repeat;background-size:auto 100%;}
.evtStepList li{width:100%;height:26.66vw;padding:6.4vw 0 0 27.46vw;font-family:'BMJUA', sans-serif;font-size:4.266vw;color:#3266c3;line-height:1.14;}
.evtStepList li .stepTit{display:block;margin-bottom:1.66vw;font:inherit;font-size:3.466vw;font-weight:600;color:#136089;}
.evtStepList li strong{font:inherit;color:#e67474;}
.evtStepList li + li{margin-top:2vw;}
.evtNotiList{margin-top:5.6vw;padding:0 2.66vw;}
.evtNotiList li{position:relative;padding-left:2.4vw;font-size:3.2vw;font-weight:400;color:#0d5981;line-height:1.42;letter-spacing:-0.06em;word-break:keep-all;}
.evtNotiList li strong{font:inherit;font-weight:500;color:#f05362;}
.evtNotiList li:before{content:'•';position:absolute;top:0;left:0;}
.evtNotiList li + li{margin-top:1.6vw;}
.evtFormWrap{margin-top:9.86vw;}
.evtFormWrap .giftNoti{height:16.66vw;background:#ffdd80;border-bottom:0.93vw solid #f4b532;border-radius:5.33vw;text-align:center;box-shadow:0 0.66vw 0 0 #53b9f3;}
.evtFormWrap .giftNoti span,
.evtFormWrap .giftNoti .num > *{display:inline-block;vertical-align:middle;}
.evtFormWrap .giftNoti .tit,
.evtFormWrap .giftNoti .txt{font-family:'BMJUA', sans-serif;font-size:5vw;color:#825934;line-height:3.2;letter-spacing:-0.06em;}
.evtFormWrap .giftNoti .txt{margin-left:0.4vw;color:#1b67bd;}
.evtFormWrap .giftNoti .num{margin-left:2.4vw;}
.evtFormWrap .giftNoti .num em{width:8.66vw;height:8.66vw;background:#1b67bd;border-radius:100%;font-family:'BMJUA', sans-serif;font-size:5.6vw;font-weight:600;color:#ffdd80;text-align:center;line-height:1.7;}
.evtFormWrap .giftNoti .num em.off{background:#f6c661;}
.evtFormWrap .giftNoti .num em + em{margin-left:0.4vw;}
.evtFormWrap .giftNoti .num sub{font-family:'Noto Sans KR', sans-serif;font-size:4.8vw;font-weight:600;color:#825934;vertical-align:bottom;}
.evtFormWrap .evtForm{margin-top:1.466vw;padding:6.66vw 1.33vw;background:#2966b9;border-radius:5.33vw;}
/* rdo */
.evtFormWrap .evtForm .rdoWrap{font-size:0;text-align:center;}
.rdoWrap .rdo{overflow:hidden;position:relative;display:inline-block;width:26vw;margin-bottom:5.6vw;vertical-align:top;}
.rdoWrap .rdo .imgWrap{overflow:hidden;position:relative;display:inline-block;width:22.66vw;height:22.4vw;background:#3885dd;border:0.13vw solid #155fb2;border-radius:5.33vw;}
.rdoWrap .rdo .txt{display:inline-block;margin-top:1.6vw;font-family:'BMJUA', sans-serif;font-size:3.73vw;color:#fff;}
.rdoWrap input[type="radio"]{overflow:hidden;position:absolute;top:-1px;left:-1px;width:1px;height:1px;margin:0;}
.rdoWrap input[type="radio"] + label{display:inline-block;width:100%;padding-bottom:8vw;font-size:0;text-align:center;cursor:pointer;}
.rdoWrap input[type="radio"] + label:before{content:'';position:absolute;bottom:0;left:10.5vw;display:inline-block;width:5.33vw;height:5.33vw;background:#fff;border-radius:100%;}
.rdoWrap input[type="radio"]:checked + label:after{content:'';position:absolute;bottom:0.5vw;left:11vw;display:inline-block;width:4.26vw;height:4.26vw;background:#f37e83;border-radius:100%;}
.rdoWrap input[type="radio"]:checked + label .imgWrap{background:#ffdd80;border:0.13vw solid #ffdd80;}
.rdoWrap input[type="radio"]:checked + label .txt{color:#ffdd80;}
.rdoWrap input[type="radio"].disabled + label:before,
.rdoWrap input[type="radio"].disabled + label .imgWrap{background:#124f95;}
.rdoWrap input[type="radio"].disabled + label .imgWrap{border:0.13vw solid #124f95;}
.rdoWrap input[type="radio"].disabled + label .txt{color:#fff;}
.rdoWrap input[type="radio"].disabled + label:after{content:'마감';position:absolute;top:5vw;left:7vw;display:inline-block;width:13.33vw;height:13.06vw;background:rgba(243, 126, 131, 0.9);border-radius:4vw;font-family:'BMJUA', sans-serif;font-size:4vw;color:#1b1b1b;text-align:center;line-height:3.5;}
/* input, textarea */
.evtFormWrap .evtForm .multiWrap{padding:2.66vw;background:#fff;border-radius:4vw;}
.multiWrap .input [type="text"]{width:100%;height:10.66vw;}
.multiWrap .input [type="text"],
.multiWrap .textareaWrap textarea{padding:4vw;background:#f0f0f0;border:0.13vw solid #dfdfdf;border-radius:2vw;font-size:3.2vw;font-weight:400;}
.multiWrap .textareaWrap{margin-top:1.33vw;line-height:1;}
.multiWrap .textareaWrap textarea{resize:none;overflow:auto;width:100%;height:60vw;line-height:1.6;}
.evtFormWrap .btnWrap{position:relative;margin-top:4.8vw;text-align:center;}
.evtFormWrap .btnWrap .btnApply{display:inline-block;width:44vw;height:12.8vw;background:#e67545;border-bottom:0.93vw solid #d55721;border-radius:11.86vw;font-family:'BMJUA', sans-serif;font-size:4.53vw;color:#fff;line-height:2.8;box-shadow:0 1.2vw 0 0 #58baea;}
.evtFormWrap .btnWrap .endBadge{display:none;}
.evtFormWrap .btnWrap.on .btnApply{padding-right:4vw;}
.evtFormWrap .btnWrap.on .endBadge{position:absolute;top:-3.066vw;left:50%;display:inline-block;width:18.66vw;height:18.66vw;margin-left:8vw;padding:2.93vw;background:#fff;border:0.66vw solid #d55721;border-radius:100%;font-family:'BMJUA', sans-serif;font-size:3.2vw;color:#d55721;text-align:center;letter-spacing:-0.04em;transform:rotate(15deg);}
.evtFormWrap .btnWrap.on .endBadge strong{font:inherit;font-size:4vw;color:#1b67bd;}
/* evtSection - 3 */
.evtSection:nth-child(4){background:#ffdd80;}
.evtSection:nth-child(4) .inner{padding:8.53vw 5.33vw 10.66vw;}
.evtSection:nth-child(4) h3{font-family:'BMJUA', sans-serif;font-size:5.466vw;color:#825934;text-align:center;line-height:1;letter-spacing:-0.04em;}
.giftMsgWrap{position:relative;margin:4vw auto 0;padding:8vw 6.66vw;background:#fff;border-radius:8vw;box-shadow:0 1.33vw 0px 0 #f2cf78;}
.giftMsgWrap:before{content:'';position:absolute;top:-13.5vw;left:4vw;width:12vw;height:18vw;background:url(/images/events/2021/event210722/bg_illust01.png) 0 0 no-repeat;background-size:100%;}
.giftMsgWrap:after{content:'';position:absolute;right:4vw;bottom:-4vw;width:18vw;height:10.4vw;background:url(/images/events/2021/event210722/bg_illust02.png) 0 0 no-repeat;background-size:100%;}
.giftMsgWrap .imgWrap{position:relative;width:26.66vw;height:26.66vw;margin:0 auto;background:#1b67bd;border-radius:6.66vw;}
.giftMsgWrap .imgWrap img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.giftMsgWrap .msgWrap{padding:4vw 0 0;}
.giftMsgWrap .msgWrap .tit{display:block;font-size:4.8vw;font-weight:600;color:#1b67bd;text-align:center;line-height:1;letter-spacing:-0.04em;}
.giftMsgWrap .msgWrap .txt{margin-top:2.66vw;font-size:3.2vw;font-weight:400;color:#6d6d6d;text-align:left;line-height:1.58;}
.giftMsgWrap .infoTxt{display:none;}
.giftMsgWrap.nodata .imgWrap{background:url(/images/events/2021/event210722/bg_nodata.png) 50% 50% no-repeat #f0f0f0;background-size:14vw;}
.giftMsgWrap.nodata .imgWrap img,
.giftMsgWrap.nodata .msgWrap .tit,
.giftMsgWrap.nodata .msgWrap .txt{display:none;}
.giftMsgWrap.nodata .infoTxt{display:block;font-size:4vw;font-weight:400;color:#e67545;text-align:center;line-height:6;}
