.event190823 {position: relative; font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event190823 img {vertical-align: middle; width:100%; line-height:0}
.event190823 a {display: inline;}

/* contents */
.event190823 .cont_wrap {padding: 10.667vw 4vw 0 4vw;}

.event190823 .btn_wrap {padding-bottom:10.667vw;}
.event190823 .btn_wrap:after {content:""; display:block; clear:both}
.event190823 .btn_wrap li:first-child {float:left}
.event190823 .btn_wrap li {float:right;width:49%}
.event190823 .btn_wrap li:last-child {clear:both;width: 100%;margin-top: 2vw;}

.event190823 .agree_info {color: #888;}
.event190823 .agree_info dt {margin-bottom:1.333vw;color: #222;font-family:"Nanum Gothic_Bold"}
.event190823 .agree_info dd {background-color: #f5f5f5;padding: 4vw 5.333vw; font-size: 3.2vw;}
.event190823 .agree_info dd li {text-indent: -2.267vw; padding-left: 2.267vw;}
.event190823 .agree_info dd li a {text-decoration: underline;	}

.event190823 .agree {position: relative;margin: 2vw 0 5.34vw; text-align: left;}
.event190823 .checkbox + label {display:inline-block; font-size: 3.2vw; color: #535353;}
.event190823 .checkbox + label:before {content:""; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; width:3.6vw; height:3.6vw; margin-right: 2.5vw; border:1px solid #bfbfbf; border-radius: 0.26vw; vertical-align: middle;}
.event190823 .checkbox:checked + label:before {border: none; background: url(/images/common/bg_check.png) no-repeat; background-size: cover;}
.event190823 .checkbox + label span {vertical-align: middle;}


