.event190801 {position: relative;	font-family: "Nanum Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica,"Apple SD Gothic Neo",sans-serif;}
.event190801 img {vertical-align: middle; width:100%; line-height:0}

.event190801 .cont {}
.event190801 .btn_apply_wrap {padding:8vw 20vw 10vw;text-align: center}