/* Event */
.event240205{position:relative;}
.event240205 img{width:100%;vertical-align:top;}
.event240205 [class^="evtCont"]{position:relative;z-index:1;}
.event240205 *{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}

/* EVENT 482 */
/* evtNoti */
.event240205 .evtCon{z-index:2;position:absolute;top:0;right:0;display:block;width:16.4vw;height:21.86vw;background:url(/images/events/common/corn.png) 0 0 no-repeat;background-size:100% auto;}
.event240205 .evtCont2 .btnMap{display:inline-block;position:absolute;top:80vw;left:67vw;width:17.2vw;height:5.06vw;background:url(/images/events/2024/event240205/btn_map.png) center no-repeat;background-size:100% auto;}
.event240205 .evtCont2 .btnShare{display:inline-block;position:absolute;top:107.7vw;left:49.5vw;width:23.6vw;height:4.93vw;background:url(/images/events/2024/event240205/btn_share.png) center no-repeat;background-size:100% auto;}
.event240205 .evtCont2 .btnApply{display:inline-block;position:absolute;bottom:8.66vw;left:21.33vw;width:57.2vw;height:13.6vw;font-size:0;background:url(/images/events/2024/event240205/btn_apply.png) center no-repeat;background-size:100% auto;}

/*popup*/
.applyDtl_top{padding:0;}
.applyDtl_top h3{color:#393d49;text-align:center!important;}
.applyDtl_top h3 strong{font-size:4.26vw;font-weight:600;color:#e6563c !important;}
.applyDtl_top .applyDtl_cell{display:flex;justify-content:center;align-items:center;height:14.13vw;}
.applyDtl_top .applyDtl_cell:nth-of-type(1){background:#ffda70;border-bottom:1px solid #d0d0d0;}
.applyDtl_top .applyDtl_cell:nth-of-type(2){background:#faf5f3;}
.applyDtl_top .applyDtl_cell:nth-of-type(2) p{font-size:3.2vw;font-weight:400;color:#ff8125;text-align:center;}
.vivasamter_applyDtl .input_name input[type="text"]{height:auto;padding-left:0;font-weight:400;color:#838a95;line-height:1;background:#fff;border:0; }
/* 동반 선생님 */
.join_chk_list{padding:0;}
.info_tit.chk_tit > label{display:inline-block;width:25%;vertical-align:top;}
.info_tit.chk_tit .join_ipt_chk{display:inline-block;width:65%;margin:0;padding-left:10%;vertical-align:top;}
.info_wrap .inner{display:flex;align-items:center;gap:10px;}
.info_wrap .inner > *{flex:1;}
.info_wrap ul{flex:1;}
.info_wrap ul.join_ipt_chk li.join_chk_list{width:100%;}
.info_wrap input[type="radio"] + label{display:inline-block;margin-top:20px;vertical-align:super;}
.info_wrap .join_ipt_chk{margin:0;}
.info_wrap .join_ipt_chk:after{display:none;}
#teacherInfo2 + lable{display:inline-block;margin-top:15px;}
.evtForm_labelTxt{padding-left:9px;text-indent:-9px;}
/* 신청사연 */
.textarea_tit{position:relative;}
.vivasamter_apply .info_tit span{font-size:14px;}
.textarea_tit .count_wrap{position:absolute;right:0;top:50%;transform:translateY(-21px);}
.textarea_tit .count_wrap .count{display:flex;justify-content:flex-end;align-items:end;margin-top:1.33vw;color:#a1a1a1;}
.textarea_tit .count_wrap .count span{font-weight:600;color:#393d49;}
.input_wrap textarea{width:100%;min-height:34.13vw;padding:4vw;font-size:14px;}
.input_wrap textarea::placeholder{color:#838a95;}
/* 유의사항 */
.vivasamter_applyDtl .pdside20 + .acco_notice_list.notice_sec .acco_notice_cont{border-top:0;}
.vivasamter_applyDtl .checkbox_circle_tit span{letter-spacing:-0.04em;word-break:break-all;}
.privacyList.event2 .c_o,
.checkbox_circle_simple .c_o{font-weight:600;}