.event200303 {position: relative; font-family:"Nanum Gothic", "sans-serif";}
.event200303 img {vertical-align: middle; width:100%; line-height:0}
.event200303 a {display: inline;}

.event200303 {}
.event200303 .btn_wrap {position: absolute;top:170.400vw;padding:0 28.800vw;text-align: center; box-sizing:border-box	}