/* Noto Sans */

@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans DemiLight'),local('NotoSans-DemiLight'),
    url('/fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-DemiLight.woff2') format('woff2'),
    url('/fonts/NotoSans-DemiLight.woff') format('woff');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans Regular'),local('NotoSans-Regular'),
    url('/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Regular.woff2') format('woff2'),
    url('/fonts/NotoSans-Regular.woff') format('woff');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans Medium'),local('NotoSans-Medium'),
    url('/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Medium.woff2') format('woff2'),
    url('/fonts/NotoSans-Medium.woff') format('woff');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:600;
    src:local('Noto Sans Bold'),local('NotoSans-Bold'),
    url('/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NotoSans-Bold.woff2') format('woff2'),
    url('/fonts/NotoSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSansLight';
    font-style: normal;
    font-weight: 400;
    src: local('GmarketSansLight'),
    url('/fonts/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GmarketSansLight.woff2') format('woff2'),
    url('/fonts/GmarketSansLight.woff') format('woff'),
    url('/fonts/GmarketSansLight.ttf') format('truetype');
}

@font-face {
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: normal;
    src: local('GmarketSansMedium'),
    url('/fonts/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GmarketSansMedium.woff2') format('woff2'),
    url('/fonts/GmarketSansMedium.woff') format('woff'),
    url('/fonts/GmarketSansMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'GmarketSansBold';
    font-style: normal;
    font-weight: normal;
    src: local('GmarketSansBold'),
    url('/fonts/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GmarketSansBold.woff2') format('woff2'),
    url('/fonts/GmarketSansBold.woff') format('woff'),
    url('/fonts/GmarketSansBold.ttf') format('truetype');
}


@font-face {
    font-family: 'AppleSDGothicNeoB';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoB.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoB.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoB.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoB.ttf') format('truetype');
}
@font-face {
    font-family: 'AppleSDGothicNeoEB';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoEB.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoEB.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoEB.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoEB.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoH';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoH.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoH.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoH.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoH.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoM';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoM.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoM.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoM.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoM.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoL';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoL.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoL.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoL.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoR';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoR.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoR.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoR.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoSB';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoSB.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoSB.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoSB.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoSB.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoT';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoT.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoT.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoT.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoT.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoUL';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AppleSDGothicNeoUL.eot');
    src: local(��),
    url('/fonts/AppleSDGothicNeoUL.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AppleSDGothicNeoUL.woff') format('woff'),
    url('/fonts/AppleSDGothicNeoUL.ttf') format('truetype');
}


/* Pretendard : 기본  */
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'),
    url('/fonts/Pretendard-Black.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'),
    url('/fonts/Pretendard-Light.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtraLight.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('/fonts/Pretendard-Thin.subset.woff2') format('font-woff2'),
    url('/fonts/Pretendard-Thin.subset.woff') format('woff');
}

/* SUIT */
@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url('/fonts/SUIT-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url('/fonts/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url('/fonts/SUIT-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url('/fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url('/fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url('/fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url('/fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url('/fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url('/fonts/SUIT-Heavy.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	src: url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
}