@charset "utf-8";

/* nanum-gothic-regular - korean_latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic'),
       url('/fonts/nanum-gothic-v13-korean_latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/nanum-gothic-v13-korean_latin-regular.woff2') format('woff2'),
       url('/fonts/nanum-gothic-v13-korean_latin-regular.woff') format('woff'),
       url('/fonts/nanum-gothic-v13-korean_latin-regular.ttf') format('truetype'),
       url('/fonts/nanum-gothic-v13-korean_latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-bold */
@font-face {
    font-family: 'Nanum Gothic_Bold';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothic-Bold'),
    url('/fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NanumGothic-Bold.woff2') format('woff2'),
    url('/fonts/NanumGothic-Bold.woff') format('woff'),
    url('/fonts/NanumGothic-Bold.ttf') format('truetype')
}

/* Noto Sans */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
	   url('/fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('/fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('/fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
	   url('/fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('/fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('/fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/noto-sans-kr-v12-latin_korean-500.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
	   url('/fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('/fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), /* Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('/fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
	src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
	   url('/fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('/fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
	   url('/fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('/fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


@font-face {
	font-family: 'GmarketSansLight';
	font-style: normal;
	font-weight: 400;
	src: local('GmarketSansLight'),
	url('/fonts/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
	url('/fonts/GmarketSansLight.woff2') format('woff2'),
	url('/fonts/GmarketSansLight.woff') format('woff'),
	url('/fonts/GmarketSansLight.ttf') format('truetype');
}

@font-face {
	font-family: 'GmarketSansMedium';
	font-style: normal;
	font-weight: normal;
	src: local('GmarketSansMedium'),
	url('/fonts/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
	url('/fonts/GmarketSansMedium.woff2') format('woff2'),
	url('/fonts/GmarketSansMedium.woff') format('woff'),
	url('/fonts/GmarketSansMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'GmarketSansBold';
	font-style: normal;
	font-weight: normal;
	src: local('GmarketSansBold'),
	url('/fonts/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/GmarketSansBold.woff2') format('woff2'),
	url('/fonts/GmarketSansBold.woff') format('woff'),
	url('/fonts/GmarketSansBold.ttf') format('truetype');
}


/****************************************/
/*	Name: GUIDE
/*	Part: Reset
/*	Version: 0.1
/*	Author: KIM SOO-JUNG
/****************************************/

a, address, area, article, aside, audio, b, body, br, button, canvas,
caption, cite, col, colgroup, dd, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, frame, frameset, h1, h2, h3, h4, h5,
h6, head, header, hr, html, i, iframe, img, input, label, legend, li,
link, map, meta, nav, object, ol, p, pre, q, rp, rt, ruby, s, script,
section, select, source, span, strong, style, sub, summary, sup, table,
tbody, td,textarea, tfoot, th, thead, time, title, tr, u, ul, video {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif}

html		{width: 100%; height: 100%; touch-callout:none;-webkit-touch-callout:none;-khtml-user-select:none;-webkit-text-size-adjust:none;text-size-adjust:none}
body		{width: 100%; height: 100%; font-family:'Noto Sans KR', sans-serif; font-weight: 400; font-size:13px; line-height: 1.5; color: #333; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  -webkit-print-color-adjust:exact; -webkit-text-size-adjust:none}
ul,ol,li	{list-style: none;}
img			{border: none; max-width:100%;}
hr			{border: none;}
p			{max-height: 999999px;}
h1,h2,h3,h4,h5,h6 {font-size:13px; font-weight:normal}
a,em,strong {font-style:normal;color:inherit;font-weight:normal}
table		{width: 100%; border-spacing: 0; table-layout: fixed; border-collapse:collapse}
th,td		{vertical-align: middle;}

a			{display:block; box-sizing:border-box}
a:link		{text-decoration: none;}
a:hover		{text-decoration: none;}
a:visited	{text-decoration: none;}
a:active	{text-decoration: none;}
a:focus		{text-decoration: none;}

input[type=text],
input[type=search],
input[type=tel],
input[type=date],
input[type=number],
input[type=email],
input[type=password]	{display: inline-block; width: 100%; height:40px; padding:10px 12px; border:1px solid #bfbfbf; font-size:14px; color: #333; box-sizing: border-box;  -webkit-appearance: none; appearance: none; border-radius:3px; background:none; outline:0}
select					{display: inline-block; width: 100%; height:40px; padding: 10px 30px 10px 11px; border: none; font-size: 12px; color: #333; box-sizing: border-box; -webkit-appearance: none; appearance: none;}
textarea				{resize:none; display: inline-block; width: 100%; height:40px; padding: 10px 12px 10px; border: none; font-size: 12px; color: #333; box-sizing: border-box; -webkit-appearance: none; appearance: none; border-radius:3px; outline:0}
select::-ms-expand		{display: none;}
@media all and (min-width:0\0) and (min-resolution:.001dpcm){
	select				{padding: 10px 10px 10px 10px;}
}
::-webkit-input-placeholder {color: #767676;}
::-moz-placeholder			{color: #767676;}
:-ms-input-placeholder		{color: #767676;}
:-moz-placeholder			{color: #767676;}
button,
input[type=image],
input[type=reset],
input[type=button],
input[type=submit]	{border: none; background: none; border-radius: 0; cursor: pointer; outline:none; -webkit-appearance: none; appearance: none;}
label				{cursor: pointer; box-sizing:border-box}

legend,hr,caption	{visibility: hidden; overflow: hidden; width: 0px; height: 0px; font-size: 0px; line-height: 0px; border: none; background: none; position: absolute; left: -9999em; top: -9999em; opacity: 0;}
fieldset,iframe		{border: none;}
sup,sub				{line-height: 1;}

.blind	{visibility: hidden; overflow: hidden; width: 0px; height: 0px; font-size: 0px; line-height: 0px; border: none; background: none; position: absolute; left: -9999em; top: -9999em; opacity: 0;}

.fl_l {float: left !important;}
.fl_c {display: inline-block;}
.fl_r {float: right !important;}

.ta_l {text-align: left !important;}
.ta_c {text-align: center !important;}
.ta_r {text-align: right !important;}

.va_t {vertical-align: top !important;}
.va_m {vertical-align: middle !important;}
.va_b {vertical-align: bottom !important;}

.bdt_n {border-top: none !important;}
.bdr_n {border-right: none !important;}
.bdb_n {border-bottom: none !important;}
.bdl_n {border-left: none !important;}

.fs_i {font-style: italic !important;}

.ti_0 {text-indent: 0 !important;}

.txt_point   {color: #f00 !important;}
.txt_point2 {color: #00f !important;}
.txt_caution {color: #d85f5b !important;}
.txt_note   {color: #999 !important;}

.bold {font-family:'Noto Sans KR', sans-serif}

.pt0   {padding-top: 0px !important;}	.pr0   {padding-right: 0px !important;}		.pb0   {padding-bottom: 0px !important;}	.pl0   {padding-left: 0px !important;}
.pt5   {padding-top: 5px !important;}	.pr5   {padding-right: 5px !important;}		.pb5   {padding-bottom: 5px !important;}	.pl5   {padding-left: 5px !important;}
.pt10  {padding-top: 10px !important;}	.pr10  {padding-right: 10px !important;}	.pb10  {padding-bottom: 10px !important;}	.pl10  {padding-left: 10px !important;}
.pt15  {padding-top: 15px !important;}	.pr15  {padding-right: 15px !important;}	.pb15  {padding-bottom: 15px !important;}	.pl15  {padding-left: 15px !important;}
.pt20  {padding-top: 20px !important;}	.pr20  {padding-right: 20px !important;}	.pb20  {padding-bottom: 20px !important;}	.pl20  {padding-left: 20px !important;}
.pt25  {padding-top: 25px !important;}	.pr25  {padding-right: 25px !important;}	.pb25  {padding-bottom: 25px !important;}	.pl25  {padding-left: 25px !important;}
.pt30  {padding-top: 30px !important;}	.pr30  {padding-right: 30px !important;}	.pb30  {padding-bottom: 30px !important;}	.pl30  {padding-left: 30px !important;}
.pt35  {padding-top: 35px !important;}	.pr35  {padding-right: 35px !important;}	.pb35  {padding-bottom: 35px !important;}	.pl35  {padding-left: 35px !important;}
.pt40  {padding-top: 40px !important;}	.pr40  {padding-right: 40px !important;}	.pb40  {padding-bottom: 40px !important;}	.pl40  {padding-left: 40px !important;}
.pt45  {padding-top: 45px !important;}	.pr45  {padding-right: 45px !important;}	.pb45  {padding-bottom: 45px !important;}	.pl45  {padding-left: 45px !important;}
.pt50  {padding-top: 50px !important;}	.pr50  {padding-right: 50px !important;}	.pb50  {padding-bottom: 50px !important;}	.pl50  {padding-left: 50px !important;}
.pt55  {padding-top: 55px !important;}	.pr55  {padding-right: 55px !important;}	.pb55  {padding-bottom: 55px !important;}	.pl55  {padding-left: 55px !important;}
.pt60  {padding-top: 60px !important;}	.pr60  {padding-right: 60px !important;}	.pb60  {padding-bottom: 60px !important;}	.pl60  {padding-left: 60px !important;}
.pt65  {padding-top: 65px !important;}	.pr65  {padding-right: 65px !important;}	.pb65  {padding-bottom: 65px !important;}	.pl65  {padding-left: 65px !important;}
.pt70  {padding-top: 70px !important;}	.pr70  {padding-right: 70px !important;}	.pb70  {padding-bottom: 70px !important;}	.pl70  {padding-left: 70px !important;}
.pt75  {padding-top: 75px !important;}	.pr75  {padding-right: 75px !important;}	.pb75  {padding-bottom: 75px !important;}	.pl75  {padding-left: 75px !important;}
.pt80  {padding-top: 80px !important;}	.pr80  {padding-right: 80px !important;}	.pb80  {padding-bottom: 80px !important;}	.pl80  {padding-left: 80px !important;}
.pt85  {padding-top: 85px !important;}	.pr85  {padding-right: 85px !important;}	.pb85  {padding-bottom: 85px !important;}	.pl85  {padding-left: 85px !important;}
.pt90  {padding-top: 90px !important;}	.pr90  {padding-right: 90px !important;}	.pb90  {padding-bottom: 90px !important;}	.pl90  {padding-left: 90px !important;}
.pt95  {padding-top: 95px !important;}	.pr95  {padding-right: 95px !important;}	.pb95  {padding-bottom: 95px !important;}	.pl95  {padding-left: 95px !important;}
.pt100 {padding-top: 100px !important;}	.pr100 {padding-right: 100px !important;}	.pb100 {padding-bottom: 100px !important;}	.pl100 {padding-left: 100px !important;}

.mt0   {margin-top: 0px !important;}	.mr0   {margin-right: 0px !important;}		.mb0   {margin-bottom: 0px !important;}		.ml0   {margin-left: 0px !important;}
.mt5   {margin-top: 5px !important;}	.mr5   {margin-right: 5px !important;}    .mb5   {margin-bottom: 5px !important;}   .ml5   {margin-left: 5px !important;}
.mt8   {margin-top: 8px !important;}	.mr8   {margin-right: 8px !important;}  	.mb8   {margin-bottom: 8px !important;}  	.ml8   {margin-left: 8px !important;}
																																.ml7   {margin-left: 7px !important;}
.mt10  {margin-top: 10px !important;}	.mr10  {margin-right: 10px !important;}  	.mb10  {margin-bottom: 10px !important;}  	.ml10  {margin-left: 10px !important;}
.mt15  {margin-top: 15px !important;}	.mr15  {margin-right: 15px !important;}  	.mb15  {margin-bottom: 15px !important;}  	.ml15  {margin-left: 15px !important;}
.mt20  {margin-top: 20px !important;}	.mr20  {margin-right: 20px !important;}  	.mb20  {margin-bottom: 20px !important;}  	.ml20  {margin-left: 20px !important;}
.mt25  {margin-top: 25px !important;}	.mr25  {margin-right: 25px !important;}  	.mb25  {margin-bottom: 25px !important;}  	.ml25  {margin-left: 25px !important;}
.mt30  {margin-top: 30px !important;}	.mr30  {margin-right: 30px !important;}  	.mb30  {margin-bottom: 30px !important;}  	.ml30  {margin-left: 30px !important;}
.mt35  {margin-top: 35px !important;}	.mr35  {margin-right: 35px !important;}  	.mb35  {margin-bottom: 35px !important;}  	.ml35  {margin-left: 35px !important;}
.mt40  {margin-top: 40px !important;}	.mr40  {margin-right: 40px !important;}  	.mb40  {margin-bottom: 40px !important;}  	.ml40  {margin-left: 40px !important;}
.mt45  {margin-top: 45px !important;}	.mr45  {margin-right: 45px !important;}  	.mb45  {margin-bottom: 45px !important;}  	.ml45  {margin-left: 45px !important;}
.mt50  {margin-top: 50px !important;}	.mr50  {margin-right: 50px !important;}  	.mb50  {margin-bottom: 50px !important;}  	.ml50  {margin-left: 50px !important;}
.mt55  {margin-top: 55px !important;}	.mr55  {margin-right: 55px !important;}  	.mb55  {margin-bottom: 55px !important;}  	.ml55  {margin-left: 55px !important;}
.mt60  {margin-top: 60px !important;}	.mr60  {margin-right: 60px !important;}  	.mb60  {margin-bottom: 60px !important;}  	.ml60  {margin-left: 60px !important;}
.mt65  {margin-top: 65px !important;}	.mr65  {margin-right: 65px !important;}  	.mb65  {margin-bottom: 65px !important;}  	.ml65  {margin-left: 65px !important;}
.mt70  {margin-top: 70px !important;}	.mr70  {margin-right: 70px !important;}  	.mb70  {margin-bottom: 70px !important;}  	.ml70  {margin-left: 70px !important;}
.mt75  {margin-top: 75px !important;}	.mr75  {margin-right: 75px !important;}  	.mb75  {margin-bottom: 75px !important;}  	.ml75  {margin-left: 75px !important;}
.mt80  {margin-top: 80px !important;}	.mr80  {margin-right: 80px !important;}  	.mb80  {margin-bottom: 80px !important;}  	.ml80  {margin-left: 80px !important;}
.mt85  {margin-top: 85px !important;}	.mr85  {margin-right: 85px !important;}  	.mb85  {margin-bottom: 85px !important;}  	.ml85  {margin-left: 85px !important;}
.mt90  {margin-top: 90px !important;}	.mr90  {margin-right: 90px !important;}  	.mb90  {margin-bottom: 90px !important;}  	.ml90  {margin-left: 90px !important;}
.mt95  {margin-top: 95px !important;}	.mr95  {margin-right: 95px !important;}  	.mb95  {margin-bottom: 95px !important;}  	.ml95  {margin-left: 95px !important;}
.mt100 {margin-top: 100px !important;}	.mr100 {margin-right: 100px !important;}	.mb100 {margin-bottom: 100px !important;}	.ml100 {margin-left: 100px !important;}
