/* Event */
.event250604{position:relative;}
.event250604 img{width:100%;vertical-align:top;}
.event250604 [class^="evtCont"]{position:relative;z-index:1;}
.event250604 *{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
.event250604 .rollingBox{position:absolute; left:0; right:0; top:228.037vw;}
.event250604 .rollingBox .slick-list{padding:0 19.159vw 0 5.14vw;}
.event250604 .rollingBox .slick-list .slick-slide{margin-right:2.648vw;}
.event250604 .rollingBox .slide{width:auto; height:52.336vw;}
.event250604 .rollingBox .slide img{height:100%;}
@keyframes rollingBox{
  100%{transform:translateX(calc(-215.654vw - 5.14vw + 2.648vw))}
}


