/* EVENT 529 */
.event241118{position:relative;}
.event241118 img{width:100%;vertical-align:top;}
.event241118 [class^="evtCont"]{position:relative;z-index:1;}
.event241118 *{font-family:'Noto Sans KR', sans-serif;}
.event241118 input[type="checkbox"]{display:none;}

.event241118 .evtCont02{position: relative; padding:7.234vw 6.241vw 12.199vw; background:url('/images/events/2024/event241118/bg.png') no-repeat center top / 100% auto;}
.event241118 .evtCont02 .item_box{position:relative;}
.event241118 .evtCont02 .item_box img{max-width:100%;}
.event241118 .evtCont02 .item_box a{position:absolute; top:9.362vw; width:10.355vw; height:10.355vw;}
.event241118 .evtCont02 .item_box .btnView1{left:16.312vw;}
.event241118 .evtCont02 .item_box .btnView2{right:16.312vw;}
.event241118 .evtCont02 .btnApply{margin: 6.809vw auto 0; display: block; width: 47.943vw; height: 11.773vw; background:url('/images/events/2024/event241118/btn_apply.png')no-repeat center / contain;}
.event241118 .item_end {display: none; position: absolute; right: 10.13vw; top: 6.66vw; width: 16.53vw; height: 16.53vw; }
.event241118 .item_end.deadline {display:block;}

.evtNotice {padding:7.801vw 6.241vw; background:#014d6d;}
.evtNotice strong {margin-bottom:2.128vw; display:block; font-size:3.404vw; font-family:'Pretendard', 'Noto Sans KR', 'sans-serif'; font-weight:600; color: #fff; line-height: 1; letter-spacing: -0.045em;}
.evtNotice ul li {padding-left:2.128vw; text-indent:-2.128vw; font-size:2.27vw; font-family:'Pretendard', 'Noto Sans KR', 'sans-serif'; font-weight: 400; color: #fff; line-height: 1.5; letter-spacing: -0.045em; word-break: keep-all;}
.evtNotice ul li+li{margin-top:0.709vw;}
.evtNotice ul li span{font:inherit; font-weight:700; color:#FFEF86;}



/*신청하기팝업*/
.event241118 .applyDtl_top{background:#fff9e3; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0}
.event241118 .applyDtl_top h3{text-align:center; font-size:17px;}
.event241118 .info_tit label{font-size:14px;font-weight:600;color:#393d49;}
.event241118 .vivasamter_applyDtl .info_tit > .join_ipt_chk{display:inline-block;}
.event241118 .vivasamter_applyDtl .info_tit > .join_ipt_chk .join_chk_list.half{margin:0 0 0 20px;float:none;width:auto;display:inline-block;}
.event241118 .join_chk_list input[type="radio"].checkbox_circle + label{font-size:14px;font-weight:400;color:#464a55;}
.event241118 .join_chk_list input[type="radio"].checkbox_circle:checked + label{font-size:14px;font-weight:400;}
.event241118 .vivasamter_applyDtl .input_wrap.school .input_sm{width:calc(100% - 130px);}
.event241118 .vivasamter_applyDtl .input_wrap.school .input_in_btn.btn_gray{margin-left:5px;margin-top:-24px;right:0;width:125px;height:48px;font-size:14px;font-weight:600;vertical-align: top;}
.event241118 .bulTxt{padding-left:25px;margin-top:5px;text-indent:-10px;}
.event241118 .vivasamter_applyDtl .privacyList li{font-weight:400;}
.event241118 .vivasamter_applyDtl .privacyList li:before{left:5px;}
.event241118 .vivasamter_applyDtl .acco_notice_cont .privacyTxt{font-weight:400;}
.event241118 .infoTxtWrap{margin-top:7px; padding:0 15px;}
.event241118 .inputInfoTxt{font-size:12px; color:#888888; padding-left:10px; text-indent:-10px;}
.event241118 .evtItemWRap img{width:100%;}