/* EVENT 568 */
.event250625{position:relative;}
.event250625 img{width:100%;vertical-align:top;}
.event250625 [class^="evtCont"]{position:relative;z-index:1;}
.event250625 *{font-family:'Noto Sans KR', sans-serif; box-sizing:border-box;}
.event250625 input[type="checkbox"]{display:none;}

.event250625 .evtTitWrap .evtSwiper{height: 41.2vw; padding: 4.3vw 0 2.9vw; background:url('/images/events/2025/event250625/bg2.png') no-repeat 0 0 / 100% auto;}
.event250625 .evtTitWrap .evtSwiper .slick-slide .thumb {overflow: hidden; width:24.8vw; height:32.7vw;}
.event250625 .evtTitWrap .evtSwiper .slick-slide + .slick-slide {padding-left: 1.1vw;}

.event250625 .evtCont01 .inner {position: absolute; left: 0; width: 100%; padding: 0 6.4vw;}
.event250625 .evtCont01 .inner:nth-of-type(1) {top: 62.9vw; height: 186vw;}
.event250625 .evtCont01 .inner:nth-of-type(2) {top: 258.3vw; height: 142vw;}
.event250625 .evtCont01 .evtItemBox {display: flex; flex-wrap: wrap; gap: 4.532vw 4.235vw; padding: 0 0 0 4.5vw;}
.event250625 .evtCont01 .evtItemBox li {position: relative; width: 36.9vw; height: 36.9vw;}
.event250625 .evtCont01 .evtItemBox .thumb {display: block; width: 100%; height: 20.4vw;}
.event250625 .evtCont01 .evtItemBox .rdo{width: 100%; height: 16.5vw;}
.event250625 .evtCont01 .evtItemBox .rdo input[type=radio]{display:none;}
.event250625 .evtCont01 .evtItemBox .rdo input[type=radio] + label{position: relative; display: block; width: 100%; height: 100%; background:rgba(0,255,0,0.0)}
.event250625 .evtCont01 .evtItemBox .rdo input[type=radio] + label::before {content: ''; position: absolute; left: 17.12vw; top: 1vw; width: 3.4vw; height: 3.4vw; background: url('/images/events/2025/event250625/input_rd.png') no-repeat 50% 0 / 100% auto;}
.event250625 .evtCont01 .evtItemBox .rdo input[type=radio]:checked + label::before {background-position-y: 100%;}
.event250625 .evtCont01 .inner .btn_wrap {position: absolute; left: 0; width: 100%;}
.event250625 .evtCont01 .inner:nth-of-type(1) .btnApply,
.event250625 .evtCont01 .inner:nth-of-type(2) .btnLink {display: block; margin: 0 auto; width: 65.1vw; height: 11.6vw;}
.event250625 .evtCont01 .inner:nth-of-type(1) .btn_wrap {bottom: 7.9vw;}
.event250625 .evtCont01 .inner:nth-of-type(2) .btn_wrap {bottom: 17.3vw;}

.event250625 .evtCont02 {background:#b0f26a;}
.event250625 .evtCont02 .commentWrap {padding: 2.8vw 0 12.722vw;}
.event250625 .evtCont02 .commentWrap .commentList{display: flex; flex-wrap: wrap; gap: 4.853vw 3.015vw; width: 87.2vw; margin: 0 auto;}
.event250625 .evtCont02 .commentWrap .commentList > li {overflow: hidden; position: relative; width: 42.09vw; height: 46.44vw; background: #fff; border-radius: 3.35vw;}
.event250625 .evtCont02 .commentWrap .commentList > li .teacher {display: block; height: 7.146vw; font-size: 2.68vw; line-height: 7.146vw; color: #fff; font-weight: 400; text-align: center; background-color: #3face2;}
.event250625 .evtCont02 .commentWrap .commentList > li .content {padding: 2.121vw 0 0;}
.event250625 .evtCont02 .commentWrap .commentList > li .titWrap {display: flex; gap: 0.7vw; justify-content: center; align-items: center; margin: 0 0 2.17vw;}
.event250625 .evtCont02 .commentWrap .commentList > li .titWrap .tit {width: 8.666vw; height: 4.2vw; font-size: 2.233vw; line-height: 4.1vw; color: #3f9b0a; font-weight: 500; text-align: center; background: #d2fe25; border-radius: 2.233vw; }
.event250625 .evtCont02 .commentWrap .commentList > li .titWrap .cate {font-size: 2.233vw; line-height: 4.1vw; color: #3f9b0a; font-weight: 500;}
.event250625 .evtCont02 .commentWrap .commentList > li .txtWrap {width: 38.632vw; height: 27.69vw; margin: 0 auto; padding: 2.512vw 1.117vw 2.512vw 2.233vw;background: #f9f9f9; border-radius: 2.233vw;}
.event250625 .evtCont02 .commentWrap .commentList > li .txtWrap .inner {overflow-y: auto; width: 100%; height: 100%; padding: 0 1vw 0 0; font-size: 2.233vw; line-height: 1.5; color: #333; text-align: left; word-break: break-all;}
.event250625 .evtCont02 .commentWrap .commentList > li .txtWrap .inner::-webkit-scrollbar {width: 1.117vw;}
.event250625 .evtCont02 .commentWrap .commentList > li .txtWrap .inner::-webkit-scrollbar-thumb {top: 0; bottom: 0; background: rgba(0,0,0,0.2); border-radius: 1.117vw;}
.event250625 .evtCont02 .commentWrap .commentList .nodata {flex: 0 0 auto; display: flex; justify-content: center; align-items: center; width: 100%; height: 46.44vw; background: #fff; border-radius: 30vw;}
.event250625 .evtCont02 .commentWrap .commentList .nodata p {font-size: 2.233vw; color: #333;}
.event250625 .evtCont02 .commentWrap .btnMore{margin:6.861vw auto 0; display:flex; justify-content:center; align-items:center; width:39.5vw; height:11.07vw; font-size:3.402vw; color:#fff; font-family:'GmarketSansMedium','Noto Sans KR',sans-serif; text-align:center; font-weight:500; background:#6cb91c; border-radius:16.05vw;}
.event250625 .evtCont02 .commentWrap .btnMore span{font:inherit; color:inherit;}
.event250625 .evtCont02 .commentWrap .btnMore i{margin-left:1.389vw; display:inline-block; width:3.148vw; height:1.667vw; background:url('/images/events/2025/event250625/arr_more.png') no-repeat center / contain;}

.event250625 .evtNotice {padding:6.944vw 5.556vw; background:#2d4f62;}
.event250625 .evtNotice strong {display:block; font-size:3.056vw; color:#fff; line-height:1; font-weight:600;}
.event250625 .evtNotice ul{margin-top:1.852vw;}
.event250625 .evtNotice ul li{position:relative; padding-left:1.388vw; font-size:2.315vw; line-height:1.6; color:#fff;letter-spacing:-.05em;}
.event250625 .evtNotice ul li:before{content:'-'; position:absolute; left:0;}

.evtDetailPop{position:fixed; left:0; right:0; top:0; bottom:0; padding:50px 1.111vw; display:flex; align-items:center; justify-content:center; flex-wrap:wrap; z-index:1000; background:rgba(0,0,0,.4); overflow-y:auto;}
.evtDetailPop .evtPopWrap{position:relative; padding:10.926vw 6.944vw 5.556vw; width:100%; background:#fff; border-radius:15px;}
.evtDetailPop .evtPopWrap .btn_evt_pop_close{position:absolute; right:2.778vw; top:1.852vw; padding:1.852vw;}
.evtDetailPop .evtPopWrap .btn_evt_pop_close span{display:block; width:5vw; height:5.093vw; background:url('/images/events/2025/event250625/ico_close.png') no-repeat center / contain;}
.evtDetailPop.pdSide .evtPopWrap{padding-right:2.778vw; padding-left:2.778vw;}

.event250625.evtDetail{height:100%;}
.event250625.evtDetail .evtItemWrap{height:100%; display:flex; align-items:center; justify-content:center;}
.event250625.evtDetail .evtItemWrap video{width:100%;}