.event191217 {position: relative; font-family:"Nanum Gothic", "sans-serif";}
.event191217 img {vertical-align: middle; width:100%; line-height:0}
.event191217 a {display: inline;}

/* btn */
.event191217 .cont2 {position: relative;}
.event191217 .cont2 .btn_wrap {position: absolute; top:124.933vw; width: 100%;  box-sizing:border-box; padding: 0 5.600vw;}
