/* Event */
.event230904{position:relative;}
.event230904 img{width:100%;vertical-align:top;}
.event230904 [class^="evtCont"]{position:relative;z-index:1;}
.event230904 *{font-family:'Noto Sans KR', sans-serif; box-sizing: border-box;}
/* START */

/* common */
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}

/* EVENT 461 */
.evtCont02 {position: relative;}
.evtCont02 .btnReview {display: inline-block; position: absolute; left: 34.53vw; bottom: 59.56vw; width: 32.26vw; height: 6.53vw; background: url(/images/events/2023/event230904/btnReview.png)no-repeat center; background-size: 100% auto;}
.evtCont02 .btnApply { display: inline-block; position: absolute; left: 50%; bottom: 7.53vw; transform: translateX(-50%); width: 53.33vw; height: 11.2vw; background: url(/images/events/2023/event230904/btnApply.png)no-repeat center; background-size: 100% auto; }

.commentWrap {background: #82d8c7;}
.commentWrap .inner {padding: 0 3.33vw 3.33vw;}
.commentWrap .inner .commentList {padding: 0 4vw;}
.commentWrap .inner .listItem {width: 100%; padding: 4.66vw 5.33vw 6vw; margin-bottom: 1.33vw; background: #fff; border-radius: 4vw;}
.commentWrap .inner .listItem:last-child {margin-bottom: 0;}
.commentWrap .inner .listItem .teacher_id {display: inline-block; margin-bottom: 3.33vw; font-size: 3.2vw; font-weight: 500; color: #000; line-height: 1; letter-spacing: -0.045em; }
.commentWrap .inner .listItem p {font-size: 3.2vw; font-weight: 400; color: #333333; letter-spacing: -0.05em; line-height: 1.6; word-break: break-all;}
.commentWrap .inner .btnMore {margin-top: 2.93vw;}

.applyDtl_top h3 {font-size: 17px; font-weight: 600; color: #393d49; letter-spacing: -0.05em; line-height: 1.3;}
.applyDtl_top h3 span {font-size: 17px; font-weight: 600;color: #ff8125; letter-spacing: -0.05em;}
.input_wrap.multi_wrap.ipt_grade > .input_wrap {flex: unset; margin-right: 14px;}
.ipt_grade .input_wrap .input_sm {width: 100px;}
.ipt_person .input_wrap .input_sm {width: 100px; }




