/* Event */
.event250707{position:relative; background: #146989;}
.event250707 img{width:100%;vertical-align:top;}
.event250707 [class^="evtCont"]{position:relative;z-index:1;}
.event250707 *{font-family:'Noto Sans KR', sans-serif; box-sizing:border-box;}
/* START */
/* common */
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}

/* EVENT 572 */

.event250707 .evtCont02 .evtCont {position: relative;}
.event250707 .evtCont02 .btnWrap {position: absolute; left: 0; top: 0; right: 0;}
.event250707 .evtCont02 .copy_share {display: block; width: 57.477vw; height: 13.084vw; margin: 0 auto;}

.event250707 .tab_wrap {background: none;}
.event250707 .tab_menu {display: flex; gap: 2.336vw; justify-content: center; align-items: center; margin: 0 0 4.673vw;}
.event250707 .tab_menu li {width: 44.159vw; height: 19.860vw;}
.event250707 .tab_menu li button {display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 0; background-size: 100% auto;}
.event250707 .tab_menu li:first-child button {background-image: url(/images/events/2025/event250707/evt_tab_01.png);}
.event250707 .tab_menu li:last-child button {background-image: url(/images/events/2025/event250707/evt_tab_02.png);}
.event250707 .tab_menu li.on button {background-position-y: 100%;}

.event250707 .tab_conts {padding: 0 20px 50px;}
.event250707 .evtItemBox {position: relative; padding: 7.009vw 4.673vw; background: rgba(255,255,255,0.5); border-radius: 7.009vw; box-shadow: 0.935vw 0.935vw 2.336vw 0 rgba(0, 0, 0, 0.16);}
.event250707 .evtItemBox::before {content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 7.009vw; box-shadow: 0 0 0.701vw 0.935vw rgba(255, 255, 255, 0.25) inset;}
.event250707 .evtItemBox + .evtItemBox {margin: 4.673vw 0 0;}
.event250707 .evtItemBox .btnWrap .btnApply {width: 28.505vw; height: 8.178vw;}
.event250707 .evtItemBox .btnWrap .btnApply img {width: 100%;}
.event250707 .evtItemBox > .btnWrap {position: relative; width: 81.308vw; margin: 0 auto 2.336vw; text-align: right;}
.event250707 .evtItemBox .txtbox {position: relative; display: flex; justify-content: start; align-items: center; width: 81.308vw; height: 11.449vw; padding: 1.636vw 2.336vw 1.636vw 7.009vw; margin: 0 auto 7.009vw; background: rgba(255,255,255,0.7); border: 0.234vw solid #fff; border-radius: 46.729vw;}
.event250707 .evtItemBox .txtbox .tit {font-size: 4.206vw; line-height: 1; color: #121212; font-weight: 600; letter-spacing: -0.05em;}
.event250707 .evtItemBox .txtbox .btnWrap {margin-left: auto; }
.event250707 .evtItemBox .txtbox .inner {position: relative;}
.event250707 .evtItemBox .txtbox input[type="checkbox"] { display: none;}
.event250707 .evtItemBox .txtbox input[type="checkbox"] + label {position: relative; display: block; padding: 0 0 0 7.944vw;}
.event250707 .evtItemBox .txtbox input[type="checkbox"] + label::before {content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 5.607vw; height: 5.607vw; margin: 0; background: url(/images/events/2025/event250707/icon_checkbox.png) no-repeat 50% 0 / 100% auto; cursor:pointer;}
.event250707 .evtItemBox .txtbox input[type="checkbox"]:checked + label:before {background-position-y: 100%;}
.event250707 .evtItemBox .btn_preivew_box {position: relative; display: flex; flex-wrap: wrap; gap: 5.841vw 0.467vw; justify-content: center; margin: 0 auto;}
.event250707 .evtItemBox .btn_preivew_box .btn_preview {position: static; flex: 0 0  auto; width: 29.206vw; height: 44.860vw;}
.event250707 .evtItemBox .btn_preivew_box img {height: 100%; vertical-align: middle;}
.event250707 .evtItemBox.disabled::before {z-index: 10; background: rgba(255 255, 255, 0.5);}
.event250707 .evtItemBox.disabled::after {content: ''; position: absolute; z-index: 15; left: 50%; top: 50%; width: 64.019vw; height: 64.486vw; transform: translate(-50%, -50%); background: url(/images/events/2025/event250707/img_soldout.png) no-repeat 50% 0 / 100%;}
.event250707 .evtItemBox.disabled.is-active {display:flex; justify-content: center; align-items: center;}

.event250707 .stabs {display: flex; flex-wrap: wrap; gap: 2.336vw; justify-content: center; align-items: center; margin: 0 0 4.673vw;}
.event250707 .stabs li .stab {width: 15.888vw; height: 10.280vw; background-repeat: no-repeat; background-position: 50% 0; background-size: 100% auto;}
.event250707 .stabs li:nth-child(1) .stab {background-image: url(/images/events/2025/event250707/evt_stab_01.png);}
.event250707 .stabs li:nth-child(2) .stab {background-image: url(/images/events/2025/event250707/evt_stab_02.png);}
.event250707 .stabs li:nth-child(3) .stab {background-image: url(/images/events/2025/event250707/evt_stab_03.png);}
.event250707 .stabs li:nth-child(4) .stab {width: 31.776vw; background-image: url(/images/events/2025/event250707/evt_stab_04.png);}
.event250707 .stabs li:nth-child(5) .stab {background-image: url(/images/events/2025/event250707/evt_stab_05.png);}
.event250707 .stabs li:nth-child(6) .stab {background-image: url(/images/events/2025/event250707/evt_stab_06.png);}
.event250707 .stabs li:nth-child(7) .stab {background-image: url(/images/events/2025/event250707/evt_stab_07.png);}
.event250707 .stabs li:nth-child(8) .stab {background-image: url(/images/events/2025/event250707/evt_stab_08.png);}
.event250707 .stabs li.on .stab {background-position-y: 100%;}

.event250707 .tab_conts {display: none;}
.event250707 .tab_conts.on {display: block;}
.event250707 .btnWarp .btnApply {margin:0 auto; display:block; width:76.481vw;}
.event250707 .btnWarp .btnApply img {width: 100%;}
.event250707 .tabpanel {display: none;}
.event250707 .tabpanel .evtItemBox {padding-left: 0.935vw; padding-right: 0.935vw;}
.event250707 .tabpanel.on {display: block;}

.event250707 .evtNotice{background:#444; padding: 7.009vw 4.673vw;}
.event250707 .evtNotice h3 {width: 16.121vw; height: 7.009vw; margin: 0 0 6.308vw;}
.event250707 .evtNotice h3 img {width: 100%; vertical-align: middle;}
.event250707 .evtNotice strong {display:block; margin-bottom: 7.477vw; font-size: 3.738vw; color: #fff; font-weight:600; line-height: 1; letter-spacing:-0.05em;}
.event250707 .evtNotice ul li{position: relative; padding-left: 5.841vw; font-size: 3.738vw; font-weight: 400; color:#fff; line-height: 1.4; letter-spacing:-0.05em;}
.event250707 .evtNotice ul li::before {content: ''; position: absolute; left: 2.336vw; top: 2.202vw; width: 0.701vw; height: 0.701vw; background: #fff; border-radius: 100%; }

.event250707 .popupWrap {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 10;}
.event250707 .popupWrap.on {display: block;}
.event250707 .popupWrap .dimmed {position: absolute; z-index: 11; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);}
.event250707 .popupWrap .view_wrap {overflow: hidden; position: absolute; z-index: 12; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 90.648%; padding: 23.364vw 6.542vw 8.645vw; background: #fff; border-radius: 7.009vw;}
.event250707 .popupWrap .view_wrap .inner {overflow-y: scroll; display: flex; justify-content: center; align-items: center; max-height: 55vh; background: #eef3f5; border-radius: 7.009vw;}
.event250707 .popupWrap .view_wrap .inner .viewer::-webkit-scrollbar {width: 8px;}
.event250707 .popupWrap .view_wrap .inner .viewer::-webkit-scrollbar-track {background-color: darkgrey;}
.event250707 .popupWrap .view_wrap .inner .viewer::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.4);}
.event250707 .popupWrap .view_wrap .btn_popClose {position: absolute;  z-index:1; right: 6.542vw; top: 6.542vw; width: 10.280vw; height:10.280vw; background: url('/images/events/2025/event250707/icon_close.png') no-repeat 50% / 100% auto;}
.event250707 .popupWrap .view_wrap .viewer {position: unset; width: 100%; height: 100%; background: none; border-radius: 0; opacity: 1;}
.event250707 .popupWrap .view_wrap .viewer img {width: 100%;}

.applyDtl_top { background: #feffd0; border-bottom: 1px solid #d0d0d0;}
.applyDtl_top h3 {text-align:center}
.applyDtl_top h3 strong {margin-bottom: 2vw; font-size:17px; font-weight:600; color: #54694e; letter-spacing: -0.05em;}
.applyDtl_top h3 strong span {font-size:17px; font-weight: 600; color: #4593f1; letter-spacing: inherit;}

.info_tit >label {letter-spacing: -0.04em;}
.input_wrap .count {display:flex; justify-content:flex-end; margin-top:1.33vw;}
.input_wrap .count span{font-size:3.2vw; font-weight:400; color:#888;}
.input_wrap textarea {width:100%; min-height:45.33vw; padding:4vw; font-size:14px; border:1px solid #eaeaea; border-radius:2.66vw;}
.input_wrap textarea::placeholder {color:#838a95;}
.vivasamter_apply .info_tit span {font-size:14px;}
.vivasamter_apply .currentCount {font-size:14px;}
.vivasamter_applyDtl .info_tit.info_textarea {position:relative; padding-left:3.8vw; text-indent:-1.8vw;}
.vivasamter_applyDtl .info_tit.info_textarea .txt_count {position:absolute; right:5px; bottom: 7px;}
.vivasamter_applyDtl .pdside20 + .acco_notice_list.notice_sec {padding-top:0; margin-top:0; border-top:0;}
.vivasamter_applyDtl .pdside20 + .acco_notice_list.notice_sec .acco_notice_cont {border-top:0;}
.vivasamter_applyDtl .acco_notice_list.notice_sec .acco_notice_cont {display: flex; flex-wrap: wrap;}
.vivasamter_applyDtl .acco_notice_list.notice_sec .acco_notice_cont .txt {flex: 0 0 100%; margin: 0 0 10px;}
.vivasamter_applyDtl .acco_notice_list.notice_sec .acco_notice_cont label {width: 50%;}
