/* Event */
.event211116{position:relative;background:#fbf4e2;}
.event211116 img{width:100%;vertical-align:top;}
.event211116 [class^="evtCont"]{position:relative;z-index:1;}
.event211116 div, .event211116 ul, .event211116 li, .event211116 span, .event211116 p, .event211116 strong, .event211116 button, .event211116 input, .event211116 label, .event211116 textarea{font-family:'Noto Sans KR', sans-serif;}
/* START */
/* common */
[class^="section"]{position:relative;}
[class^="section"] .imgWrap{display:block;}
[class^="evtCont"] .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:-1px;font-size:1px;line-height:1;clip:rect(0,0,0,0);}
[class^="evtCont"] button{box-sizing:border-box;}
.evtInput input::-moz-placeholder,
.evtTextarea textarea::-moz-placeholder{color:#aaa;}
.evtInput input:-moz-placeholder,
.evtTextarea textarea:-moz-placeholder{color:#aaa;}
.evtInput input::-webkit-input-placeholder{color:#aaa;}
.evtInput input:-ms-input-placeholder{color:#aaa;}
/* EVENT 380 */
/* evtNoti */
.event211116 .evtCont01{padding-bottom:18.266vw;background:#fdfaf1;text-align:center;}
.event211116 .evtCont01 .evtNoti{margin-top:6vw;}
.event211116 .evtCont01 .evtNoti > .txt{font-size:3.2vw;font-weight:500;color:#131313;line-height:1.45;letter-spacing:-0.03em;}
.event211116 .evtCont01 .evtNoti > .txt [class^="pt"]{font:inherit;}
.event211116 .evtCont01 .pt01{color:#fd7878;}
.event211116 .evtCont01 .pt02{color:#1968ec;}
.event211116 .evtCont01 .pt03{color:#fd7373;}
.event211116 .evtCont01 .evtNoti > .txt + .txt{margin-top:3%;}
.event211116 .evtCont01 .infoWrap{margin:5.333vw 8vw;padding:3.599vw;border:1px solid #fd7878;border-radius:4vw;}
.event211116 .evtCont01 .infoWrap .tit{display:inline-block;width:65.46vw;height:4.266vw;background:url(/images/events/2021/event211116/bg_info_tit.png) 0 0 no-repeat;background-size:100%;}
.event211116 .evtCont01 .infoWrap .txt{display:inline-block;margin:1.33vw 0;font-size:2.933vw;font-weight:400;color:#696969;letter-spacing:-0.025em;}
.event211116 .evtCont01 .infoWrap .btnLink{display:block;width:29.33vw;height:7.466vw;margin:0 auto;padding-right:4.6vw;background:url(/images/events/2021/event211116/ico_arr01.png) right 3.599vw center no-repeat #fd7373;background-size:3.2vw auto;border-radius:2vw;font-size:3.2vw;font-weight:500;color:#fff;line-height:2.2;letter-spacing:-0.05em;}
.event211116 .evtPeriod{margin:0 8vw;padding:0 0 89.73vw 0;background:url(/images/events/2021/event211116/bg_gift.png) 50% 100% no-repeat;background-size:100%;text-align:left;}
.event211116 .evtPeriod li:nth-child(1),
.event211116 .evtPeriod li:nth-child(2){display:inline-block;}
.event211116 .evtPeriod .tit,
.event211116 .evtPeriod .txt{display:inline-block;font-size:3vw;font-weight:600;color:#fff;line-height:1.48;vertical-align:top;letter-spacing:-0.01em;}
.event211116 .evtPeriod .tit{width:19.46vw;height:5.33vw;background:#1968ec;border-radius:2.66vw;text-align:center;line-height:1.8;}
.event211116 .evtPeriod .txt{margin-left:2vw;font-size:3.733vw;color:#131313;}
.event211116 .evtPeriod li + li{margin-top:1.333vw;}
.event211116 .evtTip{margin:5.33vw 8vw 0;padding:5.6vw 0 5.6vw 3.8vw;background:#f9edd9;border-radius:2.4vw;text-align:center;}
.event211116 .evtTip > strong{position:relative;display:inline-block;font-size:4.5vw;font-weight:600;color:#131313;z-index:1;letter-spacing:-0.05em;}
.event211116 .evtTip > strong:before{content:'';position:absolute;bottom:0;left:1px;display:inline-block;width:16vw;height:1.33vw;background:#ff9e9e;z-index:-1;}
.event211116 .evtTip ul{margin-top:4vw;text-align:left;}
.event211116 .evtTip ul li{font-size:2.933vw;font-weight:400;color:#131313;line-height:1.81;letter-spacing:-0.06em;}
.event211116 .evtTip ul li span{font:inherit;}
/* evtFormWrap */
.event211116 .evtCont02{padding:8vw 8vw 28.4vw;background:#8bd1cf;}
.event211116 [class$="Item"] .formTit{display:inline-block;font-size:4.266vw;font-weight:600;color:#131313;line-height:1.34;letter-spacing:-0.025em;vertical-align:bottom}
.event211116 [class$="Item"] .icoOn:before,
.event211116 [class$="Item"] .icoOff:before{content:'';display:inline-block;width:19.46vw;height:15.46vw;background-repeat:no-repeat;background-size:100% 100%;vertical-align:bottom;}
.event211116 [class$="Item"] .icoOn:before{margin:0 1.5vw 0 -1.5vw;background-image:url(/images/events/2021/event211116/ico_on.png);}
.event211116 [class$="Item"] .icoOff:before{background-image:url(/images/events/2021/event211116/ico_off.png);}
.event211116 [class$="Item"] .icoAdd:before{content:'';display:inline-block;width:9.6vw;height:9.6vw;margin:0 12px 0 22px;background:url(/images/events/2021/event211116/ico_plus.png) 0 0 no-repeat;background-size:100%;vertical-align:top;}
.event211116 [class$="Item"] .square{display:inline-block;width:19.73vw;height:7.466vw;margin:0 0.66vw 0.66vw;background:#fff;border:3px solid #000;vertical-align:middle;}
.event211116 .evtFormWrap .formItem .icoAdd{width:100%;text-align:center;}
.event211116 .evtFormWrap .formItem .icoAdd:before{display:block;margin:0 auto 2vw;}
.event211116 .evtFormWrap .formItem .evtTextarea{margin-top:4vw;background:#e1e1e1;border:2px solid #000;border-radius:2vw;line-height:1;}
.event211116 .evtFormWrap .formItem .evtTextarea textarea{resize:none;outline:none;width:100%;height:26.66vw;padding:3.2vw;border:0;border-bottom:2px solid #000;border-radius:2vw;font-size:2.933vw;color:#333;line-height:1.45;letter-spacing:-0.04em;}
.event211116 .evtFormWrap .formItem .evtTextarea textarea::placeholder{color:#969696;}
.event211116 .evtFormWrap .formItem .evtTextarea .areaInfo{overflow:hidden;padding:0 2vw;}
.event211116 .evtFormWrap .formItem .evtTextarea .areaInfo p{font-size:2.933vw;font-weight:400;color:#131313;line-height:2.625;letter-spacing:-0.05em;}
.event211116 .evtFormWrap .formItem .evtTextarea .areaInfo p:first-child{float:left;}
.event211116 .evtFormWrap .formItem .evtTextarea .areaInfo p.count{float:right;}
.event211116 .evtFormWrap .formItem .evtTextarea .areaInfo .count span{font:inherit;}
.event211116 .evtFormWrap .formItem:nth-child(3) .evtTextarea{background:none;border:0;}
.event211116 .evtFormWrap .formItem:nth-child(3) .evtTextarea textarea{border:2px solid #000;}
.event211116 .evtFormWrap .formItem + .formItem{padding-top:7.33vw;}
.event211116 .evtFormWrap .formTip{margin:2vw auto 6.66vw;padding:4.6vw 4vw;border:1px solid #5b8584;border-radius:2vw;}
.event211116 .evtFormWrap .formTip > strong{position:relative;display:inline-block;font-size:3.466vw;font-weight:600;color:#131313;z-index:1;letter-spacing:-0.025em;}
.event211116 .evtFormWrap .formTip ul{margin:3.33vw 0 0 3.33vw;text-align:left;}
.event211116 .evtFormWrap .formTip ul li > *{display:inline-block;font-size:2.933vw;font-weight:400;color:#131313;line-height:1.9;letter-spacing:-0.05em;vertical-align:top;}
.event211116 .evtFormWrap .formTip ul li > span{width:4vw;}
.event211116 .evtFormWrap .formTip ul li > p{width:calc(100% - 4vw);word-break:keep-all;}
.event211116 .evtFormWrap .btnWrap{text-align:center;}
.event211116 .evtFormWrap .btnApply{display:inline-block;width:53.33vw;height:12vw;padding-right:6vw;background:url(/images/events/2021/event211116/ico_arr02.png) right 16.26vw center no-repeat #131313;background-size:3.866vw 3.866vw;border-radius:2.4vw;font-size:4.533vw;font-weight:600;color:#fff;letter-spacing:-0.05em;}
/* couponWrap */
.event211116 .evtCont03{background:#ffe391;border-bottom:1px solid #bf951a;text-align:center;}
.event211116 .evtCont03:before{content:'';position:absolute;top:-16.8vw;left:50%;display:inline-block;width:100%;height:16.8vw;background:url(/images/events/2021/event211116/bg_illust.png) 0 0 no-repeat;background-size:auto 100%;transform:translateX(-50%);}
.event211116 .couponWrap .couponTitWrap{position:relative;padding:4.399vw 0;}
.event211116 .couponWrap p{display:inline-block;margin-top:1.33vw;font-size:3.2vw;font-weight:500;color:#131313;line-height:1;letter-spacing:-0.05em;}
.event211116 .couponWrap .tit{display:inline-block;width:76.8vw;height:4.266vw;background:url(/images/events/2021/event211116/bg_coupon_tit.png) 0 0 no-repeat;background-size:100%;}
.event211116 .couponWrap .couponCont{position:relative;margin:0 3.33vw;padding:0 8.66vw;background:#fff;border-radius:2vw;;}
.event211116 .couponWrap .couponItem:before{content:'';display:block;width:19.46vw;height:15.46vw;margin:2.66vw auto;background-image:url(/images/events/2021/event211116/ico_on.png);background-repeat:no-repeat;background-size:100% 100%;}
.event211116 .couponWrap .couponItem + .couponItem:before{background-image:url(/images/events/2021/event211116/ico_off.png);}
.event211116 .couponWrap .btnLink{display:block;width:100%;height:9.333vw;padding:0 2vw;background:url(/images/events/2021/event211116/ico_arr03.png) right 4.266vw center no-repeat;background-size:1.466vw auto;border:2px solid #fd8585;border-radius:1.6vw;font-size:3.2vw;font-weight:500;color:#131313;text-align:left;line-height:2.7;}
.event211116 .couponWrap .couponItem + .couponItem .btnLink{border-color:#185ac8;}
.event211116 .couponWrap .btnLink + .btnLink{margin-top:1.066vw;}
.event211116 .couponWrap .couponCont > span{display:inline-block;margin:4.533vw 0;font-size:3vw;letter-spacing:-0.03em;}
.event211116 .couponWrap .couponList{padding:4vw 8vw;text-align:left;}
.event211116 .couponWrap .couponList li{position:relative;padding-left:2vw;font-size:2.933vw;font-weight:400;color:#4e4e4e;:1.6;letter-spacing:-0.05em;word-break:keep-all;}
.event211116 .couponWrap .couponList li:before{content:'';position:absolute;left:0;top:2vw;display:inline-block;width:0.4vw;height:0.4vw;background:#4e4e4e;border-radius:100%;}
/* listWrap */
.event211116 .evtCont04{background:#f7e7cd;}
.event211116 .evtCont04 .evtList{padding:0 5.33vw;}
.event211116 .evtCont04 .evtList .listItem:first-child{padding-top:7.733vw;}
.event211116 .evtCont04 .evtList .listItem:last-child{padding-bottom:7.733vw;}
.event211116 .evtCont04 .evtList .listItem + .listItem{margin-top:2.66vw;}
.event211116 .evtCont04 .evtList .listItem .user{padding:4vw 6.66vw;background:#fff;border-bottom:1px solid #e9e9e9;border-radius:1.866vw 1.866vw 0 0;font-size:3.733vw;font-weight:500;color:#000;line-height:1;}
.event211116 .evtCont04 .icoOn:before,
.event211116 .evtCont04 .icoOff:before{width:13.33vw;height:8.4vw;margin-right:2vw;background-position:0 0;background-repeat:no-repeat;background-size:auto 100%;}
.event211116 .evtCont04 .icoOn:before{background-image:url(/images/events/2021/event211116/ico_on_s.png);}
.event211116 .evtCont04 .icoOff:before{background-image:url(/images/events/2021/event211116/ico_off_s.png);}
.event211116 .evtCont04 .icoAdd:before{width:6.133vw;height:6.133vw;margin:0 10px 0 0;background-image:url(/images/events/2021/event211116/ico_plus_s.png);background-size:100%;}
.event211116 .evtCont04 .square{width:12.93vw;height:4.8vw;border:2px solid #000;}
.event211116 .evtCont04 .evtList .listItem .formTit{font-size:3.2vw;line-height:1.9;}
.event211116 .evtCont04 .evtList .listItem .txtWrap,
.event211116 .evtCont04 .evtList .listItem .addTxtWrap{padding:6.13vw;background:#fff;}
.event211116 .evtCont04 .evtList .listItem > div:last-child{border-radius:0 0 1.866vw 1.866vw;}
.event211116 .evtCont04 .evtList .listItem .txtWrap{font-size:2.93vw;font-weight:400;color:#fff;line-height:1.5;letter-spacing:-0.04em;word-break:break-all;}
.event211116 .evtCont04 .evtList .listItem .txtWrap > div + div{margin-top:4.933vw;}
.event211116 .evtCont04 .evtList .listItem .addTxtWrap{background:#f4f4f4;}
.event211116 .evtCont04 .evtList .listItem .txt{margin-top:2.5vw;font-size:3.2vw;font-weight:300;color:#333;word-break:break-all;}
.event211116 .evtCont04 .btnMore{display:block;width:100%;height:12vw;background:#444;font-size:4.26vw;;color:#fff;}
/* EventApply */
.applyDtl_top{padding:12px 15px;}