/* EVENT 379 */
.event379{position:relative;}
.event379 img{width:100%;vertical-align:top;}
.event379 [class^="evtCont"]{position:relative;z-index:1;}
.event379 *{font-family:'Noto Sans KR', sans-serif;}
.event379 input[type="checkbox"]{display:none;}
.event379 .btn_shop{position:absolute; bottom:5.384vh; left:50%; transform: translateX(-50%); width:32vw;}
.event379 .btn_shop_txt{position:absolute; bottom:5.384vh; left:50%; transform: translateX(-50%); width:100%; font-size:3.2vw; color:#404040; font-weight: 500; text-align: center;}
.event379 .evtCont02{padding:12vw 8vw 14.93vw;background:#fdf8e4;}

.event379 .evtCont02 .evtFormWrap{position:relative;}
.event379 .evtCont02 .evtFormWrap .tit_heart1{height:50px;background:url('/images/events/2021/379/tit_heart1.png') no-repeat center top;background-size:51px 41px;}
.event379 .evtCont02 .evtFormWrap .tit_heart2{height:50px;background:url('/images/events/2021/379/tit_heart2.png') no-repeat center top;background-size:51px 41px;}
.event379 .evtCont02 .evtFormWrap .subtext{font-size:3.7vw;font-weight:700;color:#404040;text-align:center;line-height:1.42;letter-spacing:-0.04em;}
.event379 .evtCont02 .evtFormWrap .subtext span{display:inline-block;font:inherit;color:#e94f4b;line-height:1.42;}
.event379 .evtCont02 .event_gift{margin:13px auto 0;width:76vw;padding:23px 0 0;background:url('/images/events/2021/379/txt_present.png') no-repeat center top;background-size:65px 20px;}
.event379 .evtCont02 .event_gift.num2{margin:13px auto 0;width:66.33vw;padding:23px 0 0;background:url('/images/events/2021/379/txt_present.png') no-repeat center top;background-size:65px 20px;}
.event379 .evtCont02 .event_gift p{position:relative;padding-left:9px;font-size:12px;font-weight:400;color:#404040;line-height:1.45;letter-spacing:-0.03em;}
.event379 .evtCont02 .event_gift p:before{content:'';margin-top:-2px;position:absolute;left:0;top:50%;width:3px;height:3px;background:#404040;}
.event379 .evtCont02 .event_gift p span{position:relative;padding-left:10px;font:inherit;color:#b68371;}
.event379 .evtCont02 .event_gift p span:before{content:'';margin-top:-5px;position:absolute;top:50%;left:4px;width:1px;height:11px;background:#9e9e9e;opacity:0.6;}
.event379 .evtCont02 .evtTextareaWrap{margin-top:16px;}
.event379 .evtCont02 .evtTextareaWrap .evtTextarea{}
.event379 .evtCont02 .evtTextareaWrap .evtTextarea textarea{padding:10px;height:100px;border:2px solid #8fc656;background:#fff;border-radius:9px;font-size:11px;}
.event379 .evtCont02 .evtTextareaWrap .evtTextarea .count{margin-top:5px;text-align:right;font-size:11px;color:#9e9e9e;line-height:1;}
.event379 .evtCont02 .evtTextareaWrap .evtTextarea .count span{font:inherit;color:#404040;}
.event379 .evtCont02 .evtFormWrap .btnWrap{margin-top:20px;}
.event379 .evtCont02 .evtFormWrap .btnWrap .btnApply{display:block; width:53.33vw; height:12vw; margin:0 auto; background:url('/images/events/2021/379/btn_apply.png') no-repeat left top; background-size:100% 100%;}
.event379 .evtCont02 .evtnotice{margin:8vw auto 0;border-top:1px solid rgba(222,214,185,0.7)}
.event379 .evtCont02 .evtnotice h4{margin-top:25px;font-size:13px;font-weight:700;color:#404040;}
.event379 .evtCont02 .evtnotice p{padding-left:10px;text-indent:-10px;font-size:2.93vw;color:#6e7071;line-height:1.8;letter-spacing:-0.09em;font-weight:400;}
.event379 .evtCont02 .evtnotice h4 + p{margin-top:7px;}


.event379 .evtCont03{ background:#fff;}
.event379 .evtList{padding:10.66vw 5.33vw 12.8vw;}
.event379 .evtList .listItem{position:relative;padding:0 0 20px;font-size:3.2vw;font-weight:400;color:#b9bdbe;line-height:1.75;letter-spacing:-0.05em;border-bottom:1px solid rgba(200,200,200,0.4);}
.event379 .evtList .listItem + .listItem{margin-top:26px;}
.eventtype{display:block;width:137px;height:33px;margin-left:-6px;background-position:0 0;background-repeat:no-repeat;background-size:137px 33px;}
.eventtype.bedge1{background-image:url('/images/events/2021/379/bedge1.png');}
.eventtype.bedge2{background-image:url('/images/events/2021/379/bedge2.png');}
.eventtype.bedge3{background-image:url('/images/events/2021/379/bedge3.png');}
.event379 .evtList .listItem .user{display:block;margin-top:15px;line-height:1;color:#000;font-weight:400;font-size:14px;}
.event379 .evtList .listItem .txt{margin-top:10px;line-height:1.625;color:#333;font-size:12px;word-break:break-all;}


.event379 .btnMore{display:block;width:100%;height:12vw;background:#444;font-size:3.86vw;;color:#fff;}
.event379 .btnMore i{margin-left:7px;display:inline-block;width:3.74vw;height:3.74vw;}
.event379 .btnMore i img{width:100%;height:100%;}


/*신청하기팝업*/
.event379 .applyDtl_top{padding: 15px 20px; background:#fff;}
.event379 .applyDtl_top h3{text-align:center; font-size: 16px; color: #393d49; font-weight: 700;}
.event379 .applyDtl_top h3 strong {font: inherit; color: #4083ed;}
.event379 .info_tit label{font-size:14px; font-weight:600; color:#393d49;}
.event379 .vivasamter_applyDtl {padding: 13px 0 30px;}
.event379 .vivasamter_applyDtl .info_tit {margin: 17px 0 0; padding: 0 0 7px; font-size: 14px; font-weight: 500; color: #393d49; letter-spacing: -.04em;}
.event379 .vivasamter_applyDtl .info_tit:before {content: "*"; display: inline-block; margin-right: 5px; font-size: 19px; color: #4083ed; vertical-align: middle; line-height: 1;}
.event379 .vivasamter_applyDtl .info_tit > .join_ipt_chk{display:inline-block;}
.event379 .vivasamter_applyDtl .info_tit > .join_ipt_chk .join_chk_list.half{margin:0 0 0 20px;float:none;width:auto;display:inline-block;}
.event379 .join_chk_list input[type="radio"].checkbox_circle + label{font-size:14px;font-weight:400;color:#464a55;}
.event379 .join_chk_list input[type="radio"].checkbox_circle:checked + label{font-size:14px;font-weight:400;}
.event379 .vivasamter_applyDtl .input_wrap.school .input_sm{width:calc(100% - 130px);}
.event379 .vivasamter_applyDtl .input_wrap.school .input_in_btn.btn_gray{margin-left:5px;margin-top:-24px;right:0;width:125px;height:48px;font-size:14px;font-weight:600;vertical-align: top;}
.event379 .bulTxt{padding-left:25px;margin-top:5px;text-indent:-10px;}
.event379 .vivasamter_applyDtl .privacyList{margin-top:10px;}
.event379 .vivasamter_applyDtl .privacyList li{font-weight:400;}
.event379 .vivasamter_applyDtl .acco_notice_cont .privacyTxt{font-weight:400;}
.event379 .vivasamter_applyDtl .btn_event_apply {display: block; width: 90%; height: 48px; margin: 0 auto; background: #4083ed; border-radius: 6.4vw; font-size: 17px; font-weight: 700; color: #fff;}

.event379 .ipt_book{display:inline-block; height:32px; line-height:32px;}
.event379 .input_book{display:inline-block; width:108px; margin-right:5px;}
.event379 .input_book_txt{color:#464a55; font-size:14px; font-weight: 500; margin-right:15px;}
.event379 .input_book_info{color:#ff8125; font-size:12px;}
.event379 .applyTxt{display:inline-block; width:109px; height:32px; margin-right:5px; background:url('/images/events/2021/379/applyTxt.png') no-repeat left center; background-size:109px 32px; vertical-align: top;}